# 1. List Methods

In [10]:
l = [1,2,3,4,5]
l[0]= 21
print(l)

# append(): add single char or number
l.append(6) 
print("append:",l)

# Extend(): add another entire list
l2=[7,8,9]
l.extend(l2)
print("extend:",l)
       
# Remove(): remove the value
l.remove(4)
print("remove:",l)

# Pop(): remove last value
l.pop()
print("pop:",l)

#Reverse: Reverse the order of values
l.reverse()
print("reverse:",l)

# Sort(): sorting values
l.sort()
print("sort",l)

#Index(): Display index of value
print("index:",l.index(5))

# Count(): count the value
print("count:",l.count(3))

# Insert(): insert 3 index (len-1), index starts with 0
l.insert(3,'hi') 
print("insert:",l)

[21, 2, 3, 4, 5]
append: [21, 2, 3, 4, 5, 6]
extend: [21, 2, 3, 4, 5, 6, 7, 8, 9]
remove: [21, 2, 3, 5, 6, 7, 8, 9]
pop: [21, 2, 3, 5, 6, 7, 8]
reverse: [8, 7, 6, 5, 3, 2, 21]
sort [2, 3, 5, 6, 7, 8, 21]
index: 2
count: 1
insert: [2, 3, 5, 'hi', 6, 7, 8, 21]

# 2. Reverse List

In [15]:
l=[1,2,3,4,5]
l2=[]
length= len(l)
ind = length-1
while ind!=-1:
    l2.append(l[ind])
    ind=ind-1
print(l2)

[5, 4, 3, 2, 1]

In [20]:
lis = [1,2,3,4,5]

lis.reverse()
lis

[5, 4, 3, 2, 1]

In [21]:
lis[::-1]  ## [start:end:step] -> [ : from starting to ending -1 start from reverse ]
lis

[5, 4, 3, 2, 1]

In [22]:
lis = [1,2,3,4,5]
l = []
for i in range(len(lis)-1,-1,-1):
    l.append(lis[i])
print(l)

[5, 4, 3, 2, 1]

In [188]:
# list of values reverse
l = ['Red', 'Green', 'Blue', 'White', 'Black']
ls = []
for i in l:
    ls.append(i[::-1])
print(ls)

['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

In [198]:
l = ['Red', 'Green', 'Blue', 'White', 'Black']
lst = []
for i in l:
    w=""
    for j in i:
        w=j+w
    lst.append(w)
print(lst)

['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

In [274]:
# reverse list of lists
l = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

ls=[]
for i in l:
    ls.append(i[::-1])
print(ls)

lst = []
for i in l:
    sub = []
    ind = len(i)-1
    while ind!=-1:
        sub.append(i[ind])
        ind = ind-1
    lst.append(sub)
print(lst)

[[4, 3, 2, 1], [8, 7, 6, 5], [12, 11, 10, 9], [16, 15, 14, 13]]
[[4, 3, 2, 1], [8, 7, 6, 5], [12, 11, 10, 9], [16, 15, 14, 13]]

# 3. Sum of list values / Total count of the list

In [16]:
l=[1,2,3,4,5]
c=0
for i in l:
    c=c+i
print(c)

15

In [95]:
# count integers in a given mixed list (it works only integer values not for float values)
l = [1, 'abcd', 3, 1.2, 4, 'xyz', 5, 'pqr', 7, -5, -12.22]
c = 0
for i in l:
    if str(i).isdigit():
        c=c+i
print(c)

20

In [96]:
# count integers in mixed list using isinstance method
l = [1, 'abcd', 3, 1.2, 4, 'xyz', 5, 'pqr', 7, -5, -12.22]
c = 0
f = 0.0
for i in l:
    if isinstance(i, int):
        c += i
    elif isinstance(i, float):
        f += i
print(c, f)

15 -11.020000000000001

In [369]:
# remove all values except integer values from a given array of mixed values.
lst =  [34.67, 12, -94.89, 'Python', 0, 'C#']
lr = []
for i in lst:
    if isinstance(i,int):
        lr.append(i)
print(lr)

print([i for i in lst if str(i).isdigit()])
print([i for i in lst if isinstance(i,int)])

[12, 0]
[12, 0]
[12, 0]

# 4. length of the list

In [17]:
l=[1,2,3,4,5]
c=0
for i in l:
    c=c+1
print(c)

5

# 5. remove the duplicate values in list

In [19]:
l=[1,1,2,34,4,5,6,33,5,5,3,4,2]
l2=[]
for i in l:
    if i not in l2:
        l2.append(i)
print(l2)

## another method
print(list(set(l)))

[1, 2, 34, 4, 5, 6, 33, 3]
[1, 2, 34, 4, 5, 6, 33, 3]

In [193]:
l1 = [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]

ls = []
for i in l1:
    if i not in ls:
        ls.append(i)
print(ls)

print([x for x in l1 if l1.count(x) == 1])
print([x for i, x in enumerate(l1) if x not in l1[:i]])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 5, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 6. Max & Min value in list

In [23]:
l=[1,1,2,34,4,5,6,33,5,5,3,4,2]
m=l[0]

for i in l:
    if i>m:
        m=i
print(m)

34

In [24]:
l=[1,1,2,34,4,5,6,33,5,5,3,4,2]
m=l[0]

for i in l:
    if i<m:
        m=i
print(m)

1

In [30]:
lis = [10, 15, 16, 17, 18, 19, 10, 20, 10, 30, 10]

lis.sort()
lis
print(lis[0])
print(lis[-1])

10
30

In [31]:
## min max
lis = [10, 15, 16, 17, 18, 19, 10, 20, 10, 30, 10]

print(max(lis))
print(min(lis))

30
10

In [176]:
# max & min sublists
l = [[1, 2, 3, 5], [2, 3, 5, 4], [0, 5, 4, 1], [3, 7, 2, 1], [1, 2, 1, 2]]

max_sublist = max(l, key=lambda sublist: max(sublist))
min_sublist = min(l, key=lambda sublist: min(sublist))
print(max_sublist)
print(min_sublist)

[3, 7, 2, 1]
[0, 5, 4, 1]

# 7.Merge two lists

In [42]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
d=list(zip(l1,l2))
l=[]
for i in d:
    for j in i:
        l.append(j)  ### nested lists or tuples 
print(l)

[1, 6, 2, 7, 3, 8, 4, 9, 5, 10]

# 8. clear & delete  the elements in list

In [36]:
l=[1,1,2,34,4,5,6,33,5,5,3,4,2]
l*=0
print("clear the elements:",l)
del l

clear the elements: []

# 9. swap the elements desired location or index
1. using Swap
2. tuple packing & tuple unpacking
3. * operand
4. using pop

In [41]:
def swap_elements(lst, index1, index2):
    lst[index1], lst[index2] = lst[index2], lst[index1]
my_list = [1, 10, 3, 40, 5]
print("Original list:", my_list)
swap_elements(my_list, 1, 3)
print("After swapping elements:", my_list)

Original list: [1, 10, 3, 40, 5]
After swapping elements: [1, 40, 3, 10, 5]

In [5]:
l = [1,2,3,4,5]

l[0],l[-1]=l[-1],l[0]
print(l)

[5, 2, 3, 4, 1]

In [6]:
## tuple Packing & unpacking using
l = [1,2,3,4,5]
pack = (l[-1],l[0])
l[0],l[-1] = pack
print(l)

[5, 2, 3, 4, 1]

In [7]:
## * operand
l = [1,2,3,4,5]
start,*middle,end = l
#print(start)
#print(middle)
#print(end)
l1 = [end,*middle,start]
print(l1)

[5, 2, 3, 4, 1]

In [8]:
## using pop
l = [1,2,3,4,5]
first = l.pop(0)
last = l.pop(-1)
l.insert(0,last)
l.append(first)
print(l)

[5, 2, 3, 4, 1]

In [9]:
l = [23,65,45,32,11]

pos1, pos2 = 1,3
l[pos1],l[pos2]=l[pos2],l[pos1]
print(l)

[23, 32, 45, 65, 11]

In [10]:
## using pop & insert
l = [23,65,45,32,11]
pos1, pos2 = 1,3

first = l.pop(pos1)
last = l.pop(pos2)
l.insert(pos1,last)
l.insert(pos2,first)
print(l)

[23, 11, 45, 65, 32]

In [11]:
## using tuple (pack & unpack)
l = [23,65,45,32,11]
pos1, pos2 = 1,3

get = (l[pos1],l[pos2])
l[pos2],l[pos1] = get
print(l)

[23, 32, 45, 65, 11]

# 10. split the list into sub lists

In [55]:
l=[1,1,2,34,4,5,6,33,5,5,3,4]
l1=[]
for i in range(0,len(l),4): ## range(start,stop,step)
    l1.append(l[i:i+4])     ## exclusive: ending index of sub list 
print(l1)
## note: step & index exclusive value

[[1, 1, 2, 34], [4, 5, 6, 33], [5, 5, 3, 4]]

In [43]:
l = []
for i in range(1,21):
    l.append(i)
print(l)

ls = []
for j in range(0,len(l),3):
    ls.append(l[j:j+3])
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18], [19, 20]]

In [52]:
l = [[3*i + j for j in range(1,4)] for i in range(5)]
print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]]

In [59]:
def fun1(lst, pos):
    ls = []
    for i in range(0,len(lst),pos):
        ls.append(lst[i:i+pos])
    return ls
l = [12, 45, 23, 67, 78, 90, 45, 32, 100, 76, 38, 62, 73, 29, 83]
print(fun1(l,2))
print(fun1(l,3))
print(fun1(l,4))
print(fun1(l,5))

[[12, 45], [23, 67], [78, 90], [45, 32], [100, 76], [38, 62], [73, 29], [83]]
[[12, 45, 23], [67, 78, 90], [45, 32, 100], [76, 38, 62], [73, 29, 83]]
[[12, 45, 23, 67], [78, 90, 45, 32], [100, 76, 38, 62], [73, 29, 83]]
[[12, 45, 23, 67, 78], [90, 45, 32, 100, 76], [38, 62, 73, 29, 83]]

# 11. Two list combined/ combined with front side

In [64]:
l1=[1,2,3]
l2=[6,7,8]
print(l1+l2)
print(l2+l1)
l1.extend(l2)
l1

[1, 2, 3, 6, 7, 8]
[6, 7, 8, 1, 2, 3]

[1, 2, 3, 6, 7, 8]

# 12. Remove / Insert the n th index value of list

In [261]:
# remove nth element
n=int(input("Enter Index value:"))
l=[10,11,12,13,14,15]
ls=[]
for i in range(len(l)):
    if i!=n:
        ls.append(l[i])
print(ls)

print(l[:n-1]+l[n:])

Enter Index value:2
[10, 11, 13, 14, 15]
[10, 12, 13, 14, 15]

In [260]:
# inserting nth element
n = int(input("Enter Index value:"))
element_to_insert = int(input("Enter the element to insert:"))
l = [10, 11, 12, 13, 14, 15]

if 0 <= n <= len(l):
    ls = l[:n] + [element_to_insert] + l[n:]
    print(ls)
else:
    print("Index out of range.")

Enter Index value:5
Enter the element to insert:15
[10, 11, 12, 13, 14, 15, 15]

In [13]:
my_words = ["Hi","Hello","Naresh","AND","Hi","Hello","Nikky"]
w = input("Enter Word:")
c = 0

for key in range(0,len(my_words)-1):
    if(my_words[key] == w):
        c= c+1
    if(c == 2):
        del my_words[key]
print(my_words)

Enter Word:Hi
['Hi', 'Hello', 'Naresh', 'AND', 'Hello']

In [49]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

# 13. Common values in list

In [50]:
# common values in 2 lists
l1=[1, 2, 3, 4,5,6]
l2=[6, 7, 8, 1, 2, 3]
l=[]
for i in l1:
    for j in l2:
        if i==j:
            l.append(i)
print(l)

[1, 2, 3, 6]

In [49]:
# common values in 3 lists in same index
l1 = [1, 1, 3, 4, 5, 6, 7]
l2 = [0, 1, 2, 3, 4, 5, 7]
l3 = [0, 1, 2, 3, 4, 5, 7]

ls = []
for i,j,k in zip(l1,l2,l3):
    if i==j==k:
        ls.append(i)
print(ls)

[1, 7]

In [155]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
l2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

ls = []
for i in l1:
    for j in l2:
        for k in j:
            if i==k:
                ls.append(i)
print(ls)

[1, 5, 7, 8, 11, 12]

In [162]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
l2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

res = []
for i in l2:
    ls = []
    for j in i:
        if j in l1:
            ls.append(j)
    res.append(ls)
print(res)

[[n for n in lst if n in l1] for lst in l2]

[[12], [7, 11], [1, 5, 8]]

[[12], [7, 11], [1, 5, 8]]

In [169]:
# find the common elements in nested list using set
l = [[12, 18, 23, 25, 45], [7, 12, 18, 24, 28], [1, 5, 8, 12, 15, 16, 18]]

row1 = set(l[0])
for sublist in l[1:]:
    com = row1.intersection(sublist)
print(list(com))

[18, 12]

In [181]:
# find the common elements in nested list using 
l = [[12, 18, 23, 25, 45], [7, 12, 18, 24, 28], [1, 5, 8, 12, 15, 16, 18]]
ls = []
for i in l[0]:
    for j in l[1]:
        for k in l[2]:
            if i==j==k:
                ls.append(i)
print(ls)

[12, 18]

# 14. List of values into integer

In [74]:
l=[11,33,44]
"".join(map(str,l))

'113344'

In [199]:
# sorted asc positive integer
l = [3, 40, 9, 43, 74, 5]
l.sort()
"".join([str(i) for i in l])

'359404374'

In [202]:
# sorted asc positive integer
l = [3, 40, 9, 43, 74, 5]
l.sort(reverse=True)
"".join([str(i) for i in l])

'744340953'

# 15.create empty dict in list

In [76]:
l=[]
for i in range(5):
    l.append({})
print(l)

[{}, {}, {}, {}, {}]

# 16. space separate elements

In [2]:
 l=[1,2,3,4,5]
print(*l)

## another method
" ".join(map(str,l))

1 2 3 4 5

'1 2 3 4 5'

# 17. Mul of Array Elements

In [3]:
# Traversalmethod
l = [1,2,3,4,5]
c=1
for i in l:
    c = c*i
print(c)

120

In [4]:
import numpy
l = [1,2,3,4,5]
print(numpy.prod(l))
print(numpy.sum(l))

120
15

# 18. Search Element in list

In [14]:
## using in 
l = [1,2,3,4,5,6]
n =int(input("Enter Element:"))
if n in l:
    print("Found")
else:
    print("Not Found")

Enter Element:3
Found

In [15]:
l = [1,2,3,4,5,6]
n =int(input("Enter Element:"))
flag = 0
for i in l:
    if n==i:
        print("Found")
        flag = 1
if flag==0:
    print("Not Found")

Enter Element:3
Found

# 19. Clear List:

methods:
1. clear()
2. Init the list with no value
3. *= 0
4. del()

In [16]:
# 1. using clear()

lis = [1,2,3,4,5]

lis.clear()
lis

[]

In [17]:
# 2. assign using empty list
lis = [1,2,3,4,5]

lis = []
lis

[]

In [18]:
# 3. using *operand
lis = [1,2,3,4,5]

lis *=0
lis

[]

In [19]:
# 4. del
lis = [1,2,3,4,5]

del lis[:]
lis

[]

# 20. Clone or Copy a list
1. Slicing
2. extend()
3. list()
4. copy()
5. list comprehension

In [ ]:
# 1. slicing
lis = [1,2,3,4,5]

lis_copy = lis[:]
lis_copy

In [23]:
# extend()
lis = [1,2,3,4,5]

lis_copy = []
lis_copy.extend(lis)
lis_copy

[1, 2, 3, 4, 5]

In [24]:
# 3. list
lis = [1,2,3,4,5]

lis_c = list(lis)
lis_c

[1, 2, 3, 4, 5]

In [26]:
# 4. copy
lis = [1,2,3,4,5]

lis_c = lis.copy()
lis_c

[1, 2, 3, 4, 5]

In [25]:
# 5. list comprehension
lis = [1,2,3,4,5]

lis_copy = [i for i in lis]
lis_copy

[1, 2, 3, 4, 5]

# 21. Count Occurance of element

In [27]:
lis = [10, 15, 16, 17, 18, 19, 10, 20, 10, 30, 10]
n = int(input("Enter Num:"))
c = 0
for i in lis:
    if n==i:
        c=c+1
print(c)

Enter Num:10
4

In [28]:
lis = [10, 15, 16, 17, 18, 19, 10, 20, 10, 30, 10]
lis.count(10)

4

In [29]:
from collections import Counter

lis = [10, 15, 16, 17, 18, 19, 10, 20, 10, 30, 10]
x = 10
dic = Counter(lis)
print(dic)
print(x,dic[x])

Counter({10: 4, 15: 1, 16: 1, 17: 1, 18: 1, 19: 1, 20: 1, 30: 1})
10 4

In [128]:
# most occurance of element
l = ['a','b','c','c','d','a','c','d','e','a','c','d','c','a','b','c']

d = {}
for i in l:
    d[i] = d.get(i,0)+1
print(d)

key = None
m = 0
for k,v in d.items():
    if v > m:
        m = v
        key = k
print(key,m)

{'a': 4, 'b': 2, 'c': 6, 'd': 3, 'e': 1}
c 6

# 22. second largest/smallest number

In [32]:
# sort & sclicing 
l = [10,22,9,13,14,25,7,23]

l.sort()
print(l)
print(l[-2])

[7, 9, 10, 13, 14, 22, 23, 25]
23

In [33]:
# set & remove & max
l = [10,22,9,13,14,25,7,23]
lis = set(l)
lis.remove(max(lis))
max(lis)

23

In [34]:
l = [10,22,9,13,14,25,7,23]
l1 = [x for x in l if x!=max(l)]
print(l1)
l2 = [x for x in l1 if x==max(l1)]
print(l2)

[10, 22, 9, 13, 14, 7, 23]
[23]

In [36]:
lis = [10,24,23,25,26]
first_max = second_max = int(-1) or float('-inf')
for num in lis:
    if num > first_max:
        second_max = first_max
        first_max = num
    elif num > second_max and num != first_max:
        second_max = num
print(second_max)

25

# 23. list is empty or not

In [109]:
l = []
if not l:
    print("List is empty")

List is empty

# 24. find the max length / longest value in list

In [8]:
l = ["The","quick","brown","fox","jumps","over","the","lazy","dog"]
word = max(l, key=len)
print(word)

quick

In [18]:
l = ["The","quick","brown","fox","jumps","over","the","lazy","dog"]
m = ""
for i in l:
    if len(i)>len(m):
        m=i
print(m)

quick

# 25. find all max length / longest values in list

In [29]:
l = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]
m = 0
ls = []
for w in l:
    if len(w) > m:
        m = len(w)
        ls = [w]
    elif len(w) == m:
        ls.append(w)
print(ls)

['quick', 'brown', 'jumps']

# 26. longer than n from a given list of words.

In [34]:
l = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]
n = int(input("Enter lenth:"))
ls = []
for i in l:
    if len(i) > n:
        ls.append(i)
print(ls)

Enter lenth:3
['quick', 'brown', 'jumps', 'over', 'lazy']

# 27. Two lists any one common letter: return true

In [35]:
def common_data(list1, list2):
    result = False
    for x in list1:
        for y in list2:
            if x == y:
                result = True
                return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))
print(common_data([1,2,3,4,5], [6,7,8,9]))

True
None

# 28. Two lists all common letters : return true

In [ ]:
list1 = ["a", "b", "c", "d", "e"]
list2 = ["c", "a", "e", "b", "d"]

sorted_list1 = sorted(list1)
sorted_list2 = sorted(list2)
if sorted_list1 == sorted_list2:
    result = True
else:
    result = False
print(result)

In [42]:
l1 = ["a", "b", "c", "d", "e"]
l2 = ["c", "a", "e", "b", "d","e"]

if len(l1)==len(l2):
    if set(list1) == set(list2):
        print(True)
else:
    print(False)

False

In [47]:
l1 = ["a", "b", "c", "d", "e"]
l2 = ["c", "a", "e", "e", "d"]

if len(list1) == len(list2):
    if all(i in l2 for i in l1):
        print(True)
    print(False)

False

In [48]:
list1 = ["a", "b", "c", "d", "e"]
list2 = ["c", "a", "e", "b", "d"]

def have_common_letters(l1, l2):
    if len(l1) != len(l2):
        return False
    for i in l1:
        if i not in l2:
            return False
    return True
result = have_common_letters(list1, list2)
print(result)

True

# 29. circularly_identical
he reason for repeating list1 twice (i.e., list1 * 2) in the code is to create a string that represents a circular permutation of list1

In [83]:
list1 = [10, 10, 0, 0, 10]
list2 = [10, 10, 10, 0, 0]
list3 = [10, 0, 10, 0, 10]

#print(' '.join(map(str, list1*2)))
print(' '.join(map(str, list2)) in ' '.join(map(str, list1*2)))
print(' '.join(map(str, list3)) in ' '.join(map(str, list1*2)))

10 10 0 0 10 10 10 0 0 10
True
False

In [87]:
def are_circularly_identical(list1, list2):
    if len(list1) != len(list2):
        return False
    double_list1 = list1 + list1  # Create a list with list1 repeated
    return ' '.join(map(str, list2)) in ' '.join(map(str, double_list1))

list1 = [10, 10, 0, 0, 10]
list2 = [10, 10, 10, 0, 0]
list3 = [10, 0, 10, 0, 10]

print(are_circularly_identical(list1, list2))
print(are_circularly_identical(list1, list3))

True
False

In [105]:
def are_circularly_identical(list1, list2):
    if len(list1) != len(list2):
        return False
    
    for i in range(len(list1)):
        rotated_list = list1[i:] + list1[:i]
        print(list1[i:]+list1[:i])
        if rotated_list == list2:
            return True    
    return False

list1 = [10, 10, 0, 0, 10]
list2 = [10, 10, 10, 0, 0]
list3 = [10, 0, 10, 0, 10]

print(are_circularly_identical(list1, list2))
print(are_circularly_identical(list1, list3))

[10, 10, 0, 0, 10]
[10, 0, 0, 10, 10]
[0, 0, 10, 10, 10]
[0, 10, 10, 10, 0]
[10, 10, 10, 0, 0]
True
[10, 10, 0, 0, 10]
[10, 0, 0, 10, 10]
[0, 0, 10, 10, 10]
[0, 10, 10, 10, 0]
[10, 10, 10, 0, 0]
False

# 29. access the index of a list

In [64]:
list1 = ["a", "b", "c", "d", "e"]

print(list(enumerate(list1)))
for i in enumerate(list1):
    print(i)

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]
(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

# 30. convert list of characters into a string and string into list

In [66]:
str1 = "hi hello"
l = list(str1)
print(l)
s="".join(l)
print(s)

['h', 'i', ' ', 'h', 'e', 'l', 'l', 'o']
hi hello

# 31. Append a list to the second list

In [70]:
l1 = [1, 2, 3, 0]
l2 = ['Red', 'Green', 'Black']
l = l1+l2
print(l)

l1.extend(l2)
print(l1)
l2.extend(l1)
print(l2)

[1, 2, 3, 0, 'Red', 'Green', 'Black']
[1, 2, 3, 0, 'Red', 'Green', 'Black']
['Red', 'Green', 'Black', 1, 2, 3, 0, 'Red', 'Green', 'Black']

# 32. Nested List to Flatten List

In [74]:
l = [[2,4,3],[1,5,6], [9], [7,9,0]]
ls = []
for i in l:
    for j in i:
        ls.append(j)
print(ls)

[j for i in l for j in i]

[2, 4, 3, 1, 5, 6, 9, 7, 9, 0]

[2, 4, 3, 1, 5, 6, 9, 7, 9, 0]

In [182]:
# Flatten List: contain int values and list of values mixed
l = [0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]

ls = []
for i in l:
    if i not in ls and str(i).isdigit():
        ls.append(i)
    else:
        for j in i:
            ls.append(j)
print(ls)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [187]:
l = [0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]

ls = []
for i in l:
    if isinstance(i, list):
        ls.extend(i)
    else:
        ls.append(i)
print(ls)

# another method
flattened_list = [i for sublist in l for i in (sublist if isinstance(sublist, list) else [sublist])]
print(flattened_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

# 33. select item in randomly

In [76]:
import random
color_list = ['Red', 'Blue', 'Green', 'White', 'Black']
print(random.choice(color_list))

Green

# 34. Get the frequency of the elements in a list

In [120]:
l = [10,10,10,10,20,20,20,20,40,40,50,50,30]

d = {}
for i in l:
    d[i]=d.get(i,0)+1
print(d)

{10: 4, 20: 4, 40: 2, 50: 2, 30: 1}

# 35. Distance between two elements in list

In [134]:
def count_range_in_list(ls, start, end):
    if start not in ls or end not in ls:
        return False
    start_index = ls.index(start)
    end_index = ls.index(end)
    distance = abs(end_index - start_index)    
    return distance

list1 = [10, 20, 30, 40, 40, 70, 80, 99]
print(count_range_in_list(list1, 40, 99))

list2 = ['a', 'b', 'c', 'd', 'e', 'f']
print(count_range_in_list(list2,'a','c'))

4
2

# 36. Distance between two elements in list 2nd occurance

In [142]:
def find_distance_between_second_occurrences(lst, element1, element2):
    indices = [i for i, x in enumerate(lst) if x == element1]
    if len(indices) < 2 or element2 not in lst:
        return False 
    start_index = indices[1]  # Second occurrence of element1
    end_index = lst.index(element2)
    distance = abs(end_index - start_index)    
    return distance

list1 = [10, 20, 40, 30, 40, 70, 40, 80, 99]
distance = find_distance_between_second_occurrences(list1, 40, 99)
print(f"Distance between the second occurrence of '40' and '99' in list1: {distance}")

Distance between the second occurrence of '40' and '99' in list1: 4

In [148]:
def find_distance_between_elements(lst, element1, element2):
    if element1 not in lst or element2 not in lst:
        return -1  
    indices1 = [i for i, x in enumerate(lst) if x == element1]
    indices2 = [i for i, x in enumerate(lst) if x == element2]
    min_distance = float('inf')
    for i in indices1:
        for j in indices2:
            distance = abs(j - i)
            if distance < min_distance:
                min_distance = distance    
    return min_distance

list1 = [10, 20, 40, 30, 40, 70, 40, 80, 99]
distance = find_distance_between_elements(list1, 20, 99)
print(distance)

7

# 40. elements between specified range

In [149]:
def count_range_in_list(li, min, max):
    ctr = 0
    for x in li:
        if min <= x <= max:
            ctr += 1
    return ctr

list1 = [10,20,30,40,40,40,70,80,99]
print(count_range_in_list(list1, 40, 100))

list2 = ['a','b','c','d','e','f']
print(count_range_in_list(list2, 'a', 'e'))

6
5

# 41. check sublist of list

In [152]:
a = [2, 4, 3, 5, 7]
b = [4, 3]
c = [3, 8]

set_a = set(a)
set_b = set(b)
set_c = set(c)
print(set_b.issubset(set_a))
print(set_c.issubset(set_a))

True
False

In [22]:
print( all(map(a.__contains__, b))) 
print( all(map(a.__contains__, c)))

True
False

In [141]:
l = ["red", "black", "white", "green", "orange"]

print(any('ack' in i for i in l))

True

In [149]:
l = ["red", "black", "white", "green", "orange"]
substr = input("Enter Sub String:")

def fun(lst,st):
    for i in l:
        if substr in i:
            return True
    return False
print(fun(l,substr))

Enter Sub String:ack
True

# 42. Write a Python program to change the position of every n-th value to the (n+1)th in a list.
Sample list: [0,1,2,3,4,5]
Expected Output: [1, 0, 3, 2, 5, 4]

In [53]:
sample_list = [0, 1, 2, 3, 4, 5]

n = 1
ls = []
for i in range(0, len(sample_list), n+1):
    ls.extend(reversed(sample_list[i:i+n+1]))
print(ls)

[1, 0, 3, 2, 5, 4]

# 43. Create multiple lists

In [38]:
obj = {}
for i in range(1,11):
    obj[i] = []
print(obj)

{1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: [], 9: [], 10: []}

# 44. convert a pair of values into a unique array

In [57]:
l = [(1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4),(7, 8), (9, 10)]
ls = []
for i in l:
    for j in i:
        if j not in ls:
            ls.append(j)
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 45. sort of nested lists or tuples or min or max

In [67]:
l = [{'key': {'subkey': 1}}, {'key': {'subkey': 10}}, {'key': {'subkey': 5}}]

print(sorted(l,key=lambda x:x['key']['subkey']))
l.sort(key=lambda x:x['key']['subkey'])
print(l)

[{'key': {'subkey': 1}}, {'key': {'subkey': 5}}, {'key': {'subkey': 10}}]
[{'key': {'subkey': 1}}, {'key': {'subkey': 5}}, {'key': {'subkey': 10}}]

In [123]:
# find a tuple, the smallest second index value from a list of tuples.

l = [(4, 1), (1, 2), (6, 0)]
print(min(l, key=lambda x: (x[0])))
print(min(l, key=lambda x: (x[1])))

(1, 2)
(6, 0)

In [143]:
# move all zero digits to the end of a given list of numbers

l = [3,4,0,0,0,6,2,0,6,7,6,0,0,0,9,10,7,4,4,5,3,0,0,2,9,7,1]
print(sorted(l, key=lambda x: x)) 
print(sorted(l, key=lambda x: not x)) 
print(sorted(l, key=lambda x: x == 0))
print(sorted(l, key=lambda x: x != 0))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 3, 3, 4, 4, 4, 5, 6, 6, 6, 7, 7, 7, 9, 9, 10]
[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1]

In [23]:
# sum of highest number of list

num = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
print(max(num, key=sum))

[10, 11, 12]

In [25]:
# sort length
l = [[2], [0], [1, 3], [0, 7], [9, 11], [13, 15, 17]]

l.sort() # sort sublist contains
print(sorted(l,key=len)) # sort by length

[[0], [2], [0, 7], [1, 3], [9, 11], [13, 15, 17]]

In [52]:
# sort sum of values
l1 = [[1, 2, 3], [2, 4, 5], [1, 1, 1]]
l2 = [[1, 2, 3], [-2, 4, -5], [1, -1, 1]]

print(sorted(l1,key=sum))
print(sorted(l2,key=sum))

[[1, 1, 1], [1, 2, 3], [2, 4, 5]]
[[-2, 4, -5], [1, -1, 1], [1, 2, 3]]

In [133]:
# sorted elements or not
l = [1, 2, 4, 6, 8, 10, 12, 14, 16, 17]
print(l==sorted(l))

True

In [136]:
# check the elements in the list
l = [2, 4, 6, 8, 10, 12, 14]

print(l==list(set(l)))

True

In [138]:
# sort
l = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98)] 

sorted(l,key=lambda x:x[1])

[('Wyatt Knott', 91, 94),
 ('Beau Turnbull', 94, 98),
 ('Brady Kent', 97, 96),
 ('Greyson Fulton', 98, 99)]

# 46. concate & difference in list

In [71]:
color = ['red', 'green', 'orange']
w = ""
for i in color:
    w = w+i
print(w)

print('-'.join(color))
print(''.join(color))
print(w)

redgreenorange
red-green-orange
redgreenorange
redgreenorange

In [79]:
l = [11, 33, 50]
w = ""
for i in l:
    w=w+str(i)
print(w)

''.join([str(i) for i in l])

113350

'113350'

In [87]:
# concate + difference
l1 = ["red", "orange", "green", "blue", "white"]
l2 = ["black", "yellow", "green", "blue"]

print("not Common elements:",list(set(l1)-set(l2)))
print("all elements:",list(set(l1)|set(l2)))
print("not common elements or without unique elements:",list(set(l1)^set(l2)))

not Common elements: ['red', 'orange', 'white']
all elements: ['yellow', 'white', 'blue', 'green', 'orange', 'red', 'black']
common ['yellow', 'white', 'orange', 'red', 'black']

# 47. Insert a list with another list at any position

In [116]:
l1 = [1, 3, 5, 7, 9, 10] 
l2 = [2, 4, 6, 8]
l1[-1:] = l2
print(l1)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [117]:
sample_list1 = [1, 3, 5, 7, 9, 10]
sample_list2 = [2, 4, 6, 8]
sample_list1.pop()
sample_list1.extend(sample_list2)
print(sample_list1)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [118]:
main_list = [1, 3, 5, 7, 9, 10]
sub_list = [2, 4, 6, 8]
index = int(input("Enter Position:"))
result_list = main_list[:index] + sub_list + main_list[index:]
print(result_list)

Enter Position:4
[1, 3, 5, 7, 2, 4, 6, 8, 9, 10]

# 48. list of space-separated elements

In [127]:
num = [1, 2, 3, 4, 5]
print(*num)
l = [1, 2, 3, 4, 5]
print(" ".join(str(i) for i in l))

1 2 3 4 5
1 2 3 4 5

# 49. Write a Python program to extend a list without appending.

In [160]:
x = [10, 20, 30]
y = [40, 50, 60]
y[:0] = x
print(y)
x[:0] =y
print(x)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60, 10, 20, 30]

# 50. Matrix related Programs

In [45]:
# display matrix vertically 
l = [[1, 2, 5], [4, 5, 8], [7, 3, 6]]

for a,b,c in zip(*l): 
    print(a, b, c)

1 4 7
2 5 3
5 8 6

In [50]:
# Transpose the matrix and display each element vertically 
matrix = [[1, 2, 5], [4, 5, 8], [7, 3, 6]]

for i in range(len(matrix[0])):
    for row in matrix:
        print(row[i], end=" ")
    print()  # Move to the next row

1 4 7
2 5 3
5 8 6

In [117]:
# extract first & last columns

matrix= [
         [1,2,3,2],
         [4,5,6,2],
         [7,1,9,5],
        ]

print([i[0] for i in matrix])
print([i[3] for i in matrix])

[1, 4, 7]
[2, 2, 5]

In [265]:
# create matrix dynamically 
rows = int(input("Enter rows:"))
cols = int(input("Enter col:"))

ls = []
for _ in range(rows):
    row = []
    for _ in range(cols):
        row.append(0)
    ls.append(row)
print(ls)

Enter rows:3
Enter col:2
[[0, 0], [0, 0], [0, 0]]

In [263]:
row = 3
col = 2
[[0] * col for i in range(row)]

[[0, 0], [0, 0], [0, 0]]

In [267]:
rows = int(input("Enter rows:"))
cols = int(input("Enter col:"))

ls = []
c=1
for _ in range(rows):
    row = []
    for _ in range(cols):
        row.append(c)
        c=c+1
    ls.append(row)
print(ls)

Enter rows:3
Enter col:2
[[1, 2], [3, 4], [5, 6]]

In [273]:
rows = 3
cols = 3

ls = []
for _ in range(rows):
    row = []
    c = 1
    for _ in range(cols):
        row.append(c)
        c=c+1
    ls.append(row)
print(ls)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [272]:
rows = 3
cols = 3

ls = [[i + j for j in range(cols)] for i in range(1, rows * cols, cols)]
print(ls)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [292]:
matrix = []
count = 1
rows = 3
cols = 3

for i in range(rows):
    row = []
    for j in range(cols):
        row.append(count)
        count += 1
    matrix.append(row)

for row in matrix:
    n = " ".join(str(i) for i in row)
    print(n)
print(sum(sum(row) for row in matrix))

1 2 3
4 5 6
7 8 9
45

In [3]:
matrix = []
count = 1
rows = 3
cols = 3
c = 0
for i in range(rows):
    row = []
    for j in range(cols):
        row.append(count)
        c = c+count
        count += 1
    matrix.append(row)
    print("each row count:",c)

for row in matrix:
    n = " ".join(str(i) for i in row)
    print(n)
print(sum(sum(row) for row in matrix))

each row count: 6
each row count: 21
each row count: 45
1 2 3
4 5 6
7 8 9
45

In [28]:
matrix = []
count = 1
rows = 3
cols = 3
for i in range(rows):
    row = []
    for j in range(cols):
        row.append(count)
        count += 1
    matrix.append(row)

column_sums = [0] * cols
for row in matrix:
    for j, value in enumerate(row):
        column_sums[j] += value

for row in matrix:
    n = " ".join(str(i) for i in row)
    print(n)

for i, total in enumerate(column_sums):
    print(f"Sum of values in Column {i + 1}: {total}")

1 2 3
4 5 6
7 8 9
Sum of values in Column 1: 12
Sum of values in Column 2: 15
Sum of values in Column 3: 18

In [295]:
# create matrix using sclicing
l = list(range(1, 10))
ls = []
for i in range(0,len(l),3):
    row = l[i:i+3]
    ls.append(row)

for row in ls:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [48]:
# dimension of given matrix
def matrix_dimensions(l):
    row = len(l)
    column = len(l[0])
    return row,column

print(matrix_dimensions([[1,2],[2,4]]))
print(matrix_dimensions([[0, 1, 2], [2, 4, 5]]))
print(matrix_dimensions([[0, 1, 2], [2, 4, 5], [2, 3, 4]]))

(2, 2)
(2, 3)
(3, 3)

In [47]:
# given matrix row total & matrix column total  
matrix = [[1, 2, 4], [2, 4, 4], [1, 2]]

# Initialize lists to store column-wise and row-wise totals
column_totals = [0] * len(matrix[0])
row_totals = [0] * len(matrix)

# Calculate the column-wise and row-wise totals
for i, row in enumerate(matrix):
    for j, value in enumerate(row):
        column_totals[j] += value
        row_totals[i] += value

# Print the original matrix
for row in matrix:
    print(row)

# Print the column-wise totals
print("\nColumn-wise totals:")
for j, total in enumerate(column_totals):
    print(f"Column {j + 1}: {total}")

# Print the row-wise totals
print("\nRow-wise totals:")
for i, total in enumerate(row_totals):
    print(f"Row {i + 1}: {total}")

[1, 2, 4]
[2, 4, 4]
[1, 2]

Column-wise totals:
Column 1: 4
Column 2: 8
Column 3: 8

Row-wise totals:
Row 1: 7
Row 2: 10
Row 3: 3

## 51. count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [45]:
l = ['1','2','abc', 'xyz', 'aba', '1221']

c=0
ls = []
for i in l:
    if len(i)>=2 and i[0]==i[-1]:
        ls.append(i)
        c=c+1
print(ls)
print(c)

['aba', '1221']
2

# 52. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [4]:
l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

print(sorted(l,key=lambda x:x[1]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
def sort_by_last_element(tuples):
    
    def get_last_element(tuple):
        return tuple[-1]
    
    for i in range(len(tuples)):
        for j in range(i + 1, len(tuples)):
            if get_last_element(tuples[i]) > get_last_element(tuples[j]):
                tuples[i], tuples[j] = tuples[j], tuples[i]
    return tuples

sample_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
result = sort_by_last_element(sample_list)
print(result)

## 53. Write a Python program to generate and print a list of the first and last 5 elements where the values are square numbers between 1 and 30 (both included).

In [54]:
l = []
for i in range(1,30):
    l.append(i**2)
print(l[:5]+l[-5:])

[1, 4, 9, 16, 25, 625, 676, 729, 784, 841]

# 54.  Write a Python program to check if each number is prime in a given list of numbers. Return True if all numbers are prime otherwise False.
Sample Data:
([0, 3, 4, 7, 9]) -> False
([3, 5, 7, 13]) -> True
([1, 5, 3]) -> False

In [60]:
def test(nums):
    return all(is_prime(i) for i in nums)
def is_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True

print(test([0, 3, 4, 7, 9]))
print(test([3, 5, 7, 13]))
print(test([2, 3, 5]))

False
True
True

# 55. Write a Python program to create a list by concatenating a given list with a range from 1 to n.

1.  Sample list : ['p', 'q']
    n =5
    Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

2. Sample list : [1,2,3,4], string : emp
   Expected output : ['emp1', 'emp2', 'emp3', 'emp4']

In [136]:
l = ['p', 'q']
n = 5
ls = []
for j in l:
    for i in range(1, n + 1):
        k = j + str(i)  
        ls.append(k)
print(ls)

[x+str(i) for x in l for i in range(1,n+1)]

['p1', 'p2', 'p3', 'p4', 'p5', 'q1', 'q2', 'q3', 'q4', 'q5']

['p1', 'p2', 'p3', 'p4', 'p5', 'q1', 'q2', 'q3', 'q4', 'q5']

In [132]:
s = "emp"
l = [1,2,3,4]

[s+str(i) for i in l]

['emp1', 'emp2', 'emp3', 'emp4']

In [10]:
l = ['p', 'q']
n = 5
result_list = [item + str(i) for i in range(1, n + 1) for item in l]
print(result_list)

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

# 56. Split a list based on the first character of a word.

In [163]:
l = ['be','have','do','say','get','make','go','know','take','see','come','think','look','want','give','use','find','tell','ask','work','seem','feel','leave','call']

d = {}
for w in l:
    if w[0] in d:
        d[w[0]].append(w)
    else:
        d[w[0]] = [w]
print(d)

{'b': ['be'], 'h': ['have'], 'd': ['do'], 's': ['say', 'see', 'seem'], 'g': ['get', 'go', 'give'], 'm': ['make'], 'k': ['know'], 't': ['take', 'think', 'tell'], 'c': ['come', 'call'], 'l': ['look', 'leave'], 'w': ['want', 'work'], 'u': ['use'], 'f': ['find', 'feel'], 'a': ['ask']}

In [166]:
 def test(lst, char):
    result = [i for i in lst if i.startswith(char)]
    return result
l = ["abcd", "abc", "bcd", "bkie", "cder", "cdsw", "sdfsd", "dagfa", "acjd"]
print(test(l,'a'))
print(test(l,'c'))

['abcd', 'abc', 'acjd']
['cder', 'cdsw']

In [170]:
my_list = ['apple', 'banana', 'cherry', 'blueberry', 'date', 'fig']

result = {word[0]: ", ".join([w for w in my_list if w[0] == word[0]]) for word in my_list}
print(result)

{'a': 'apple', 'b': 'banana, blueberry', 'c': 'cherry', 'd': 'date', 'f': 'fig'}

# 57. convert a list of multiple integers into a single integer.
Sample list: [11, 33, 50]
Expected Output: 113350

In [21]:
l = [11, 33, 50]
w = ""
for i in l:
    w=w+str(i)
print(w)

113350

# 58. Write a Python program to convert a list to a list of dictionaries.
Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]
Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [58]:
colors_name = ["Black", "Red", "Maroon", "Yellow"] 
colors_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]

d = {}
for k,v in zip(colors_name,colors_code):
    d[k] = v
print(d)

{'Black': '#000000', 'Red': '#FF0000', 'Maroon': '#800000', 'Yellow': '#FFFF00'}

In [59]:
color_names = ["Black", "Red", "Maroon", "Yellow"]
color_codes = ["#000000", "#FF0000", "#800000", "#FFFF00"]

l = []
if len(color_names) == len(color_codes):
    for i in range(len(color_names)):
        l.append({'color_name': color_names[i],'color_code': color_codes[i]})
    print(l)
else:
    print("The lists have different lengths.")

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [60]:
color_names = ["Black", "Red", "Maroon", "Yellow"]
color_codes = ["#000000", "#FF0000", "#800000", "#FFFF00"]

color_info = [{'color_name': name, 'color_code': code} for name, code in zip(color_names, color_codes)]
print(color_info)

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

# 59. remove key-value pairs from a list of dictionaries.

In [98]:
l = [{'key1':'value1', 'key2':'value2'}, {'key1':'value3', 'key2':'value4'}]

ls = []
dic = {}
for d in l:
    for k,v in d.items():
        if k!='key1':
            dic[k] = v
            ls.append(dic)     
print(ls)

[{k:v for k,v in d.items() if k!='key1'} for d in l]

[{'key2': 'value4'}, {'key2': 'value4'}]

[{'key2': 'value2'}, {'key2': 'value4'}]

# 60. Write a Python program to remove duplicates from a list of lists.
Sample list : [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
New List : [[10, 20], [30, 56, 25], [33], [40]]

In [162]:
l = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]

ls = []
for i in l:
    if i not in ls:
        ls.append(i)
print(ls)

[[10, 20], [40], [30, 56, 25], [33]]

# 61. Write a Python program to Zip two given lists of lists.
Original lists:
[[1, 3], [5, 7], [9, 11]]
[[2, 4], [6, 8], [10, 12, 14]]

Zipped list:
[[1, 3, 2, 4], [5, 7, 6, 8], [9, 11, 10, 12, 14]]

In [9]:
l1 = [[1, 3], [5, 7], [9, 11]] 
l2 = [[2, 4], [6, 8], [10, 12, 14]] 

print([a + b for a, b in zip(l1, l2)])

[[1, 3, 2, 4], [5, 7, 6, 8], [9, 11, 10, 12, 14]]

In [10]:
# without zip
list1 = [[1, 3], [5, 7], [9, 11]]
list2 = [[2, 4], [6, 8], [10, 12, 14]]


ls = []
for i in range(len(list1)):
    combined_list = list1[i] + list2[i]
    ls.append(combined_list)

print(ls)

[[1, 3, 2, 4], [5, 7, 6, 8], [9, 11, 10, 12, 14]]

In [13]:
# using extend
list1 = [[1, 3], [5, 7], [9, 11]]
list2 = [[2, 4], [6, 8], [10, 12, 14]]

ls = []
for i in range(len(list1)):
    combined_list = list1[i]
    combined_list.extend(list2[i])
    ls.append(combined_list)
print(ls)

[[1, 3, 2, 4], [5, 7, 6, 8], [9, 11, 10, 12, 14]]

In [17]:
# using map
list1 = [[1, 3], [5, 7], [9, 11]]
list2 = [[2, 4], [6, 8], [10, 12, 14]]

print(list(map(list.__add__, list1, list2)))

[[1, 3, 2, 4], [5, 7, 6, 8], [9, 11, 10, 12, 14]]

# 62. check if all items True / False in a given list

In [103]:
# check the all words in list in given word or not 
color1 = ["green", "orange", "black", "white"]
color2 = ["green", "green", "green", "green"]

print(all(c == 'blue' for c in color1))
print(all(c == 'green' for c in color2))

False
True

In [151]:
# find all the values in a list that are greater than a specified number.
list1 = [220, 330, 500]
list2 = [12, 17, 21]

print(all(x >= 200 for x in list1))
print(all(x >= 25 for x in list2))

True
False

In [171]:
# all dict are empty or not in list
my_list = [{},{},{}]
my_list1 = [{1:2},{},{}]

print(all(not d for d in my_list))
print(all(not d for d in my_list1))

True
False

# 63. find list in a list of lists whose sum of elements is the highest.
Sample lists: [1,2,3], [4,5,6], [10,11,12], [7,8,9]
Expected Output: [10, 11, 12]

In [150]:
l = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]

max_sum = float('-inf')  
result_list = None

for sublist in l:
    c = 0
    for i in sublist:
        c = c+i
    if c > max_sum:
        max_sum = c
        result_list = sublist
print(result_list)

print(max(l, key=sum))

[10, 11, 12]
[10, 11, 12]

# 64. pack consecutive duplicates of a given list of elements into sublists.
Original list:
[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
After packing consecutive duplicates of the said list elements into sublists:
[[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], [9], [4, 4]]

In [257]:
l = [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]

ls = []
c = []

for i in l:
    if not c or i == c[0]:
        c.append(i)
    else:
        ls.append(c[:])
        c = [i]
if c:
    ls.append(c)

print(ls)

[[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], [9], [4, 4]]

# 65. random the values in list

In [27]:
# random order of items
from random import shuffle

l = ['Python', 'list', 'exercises', 'practice', 'solution'] 
shuffle(l)
print(l)

['solution', 'Python', 'exercises', 'list', 'practice']

In [42]:
# random order of characters 
import random 
l = ['Python', 'list', 'exercises', 'practice', 'solution'] 

[''.join(random.sample(word, len(word))) for word in l]

['htynPo', 'ilts', 'iecssrxee', 'tpearicc', 'iotunlso']

# 66. extract consecutive elements

In [53]:
def extract_consecutive_elements(lst, n):
    result = []
    count = 1
    for i in range(len(lst) - 1):
        if lst[i] == lst[i + 1]:
            count += 1
            if count == n:
                result.append(lst[i])
        else:
            count = 1
    return result

list1 = [1, 1, 3, 4, 4, 5, 6, 7]
n1 = 2
list2 = [0, 1, 2, 3, 4, 4, 4, 4, 5, 7]
n2 = 4

print(extract_consecutive_elements(list1, n1))
print(extract_consecutive_elements(list2, n2))

[1, 4]
[4]

# 67.Find the difference between consecutive numbers in a given list

In [59]:
l1 = [1, 1, 3, 4, 4, 5, 6, 7]
ls = []
for i in range(1,len(l1)):
    diff = l1[i]-l1[i-1]
    ls.append(diff)
print(ls)

[0, 2, 1, 0, 1, 1, 1]

# 68. avg of two given lists

In [60]:
l1 = [1, 1, 3, 4, 4, 5, 6, 7]
l2 = [0, 1, 2, 3, 4, 4, 5, 7, 8]
n = sum(l1+l2)/len(l1+l2)
print(n)

3.823529411764706

# 69.  remove row & column from a given nested list.

In [100]:
# column
list1 = [[1, 2, 3], [2, 4, 5], [1, 1, 1]]

for i in list1:
    del i[1]
print(list1)

[[1, 3], [2, 5], [1, 1]]

In [105]:
# remove row
list1 = [[1, 2, 3], [2, 4, 5], [1, 1, 1]]
row = 1
if 0 <= row < len(list1):
    del list1[row]
print(list1)

[[1, 2, 3], [1, 1, 1]]

# 70. rotation list of values

In [106]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def rotate_list(lst, k, direction):
    if direction == 'left':
        rotated = lst[k % len(lst):] + lst[:k % len(lst)]
    elif direction == 'right':
        rotated = lst[-(k % len(lst)):] + lst[:-(k % len(lst))]
    else:
        raise ValueError("Invalid direction. Use 'left' or 'right'.")
    return rotated

print(rotate_list(l, 4, 'left'))
print(rotate_list(l, 2, 'left'))
print(rotate_list(l, 4, 'right'))
print(rotate_list(l, 2, 'right'))

[5, 6, 7, 8, 9, 10, 1, 2, 3, 4]
[3, 4, 5, 6, 7, 8, 9, 10, 1, 2]
[7, 8, 9, 10, 1, 2, 3, 4, 5, 6]
[9, 10, 1, 2, 3, 4, 5, 6, 7, 8]

In [116]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

n = 4 
print(l[n:]+l[:n])
m = 2
print(l[-m:]+l[:-m])

[5, 6, 7, 8, 9, 10, 1, 2, 3, 4]
[9, 10, 1, 2, 3, 4, 5, 6, 7, 8]

# 71. max and min product of pairs of tuples within a given list.

In [200]:
ls = [(2, 7), (2, 6), (1, 8), (4, 9)]

n1 = max([abs(x * y) for x, y in ls])
n2 = min([abs(x * y) for x, y in ls])
print(n1,n2)

36 8

In [232]:
l = [(2, 7), (2, 6), (1, 8), (4, 9)]

ls = []
for i in l:
    prod = i[0]*i[1]
    ls.append(prod)

m = ls[0]
for i in ls:
    if i > m:
        m = i
        
m1=ls[0]
for i in ls:
    if i<m1:
        m1=i
print("max product:",m)
print("min product:",m1)

max product: 36
min product: 8

# 72. calculate product of unique number

In [245]:
l = [1, 2, 3, 4, 2, 5, 6, 4]
p = 1
for i in list(set(l)):
    p = p*i
print(p)

720

# 73. Write a Python program to interleave multiple lists of the same length.
Original list:
list1: [1, 2, 3, 4, 5, 6, 7]
list2: [10, 20, 30, 40, 50, 60, 70]
list3: [100, 200, 300, 400, 500, 600, 700]
Interleave multiple lists:
[1, 10, 100, 2, 20, 200, 3, 30, 300, 4, 40, 400, 5, 50, 500, 6, 60, 600, 7, 70, 700]

In [233]:
l1= [1, 2, 3, 4, 5, 6, 7]
l2= [10, 20, 30, 40, 50, 60, 70]
l3= [100, 200, 300, 400, 500, 600, 700]

ls = []
for i,j,k in zip(l1,l2,l3):
    ls.append([i,j,k])
print(ls)

[[1, 10, 100], [2, 20, 200], [3, 30, 300], [4, 40, 400], [5, 50, 500], [6, 60, 600], [7, 70, 700]]

In [238]:
l1= [1, 2, 3, 4, 5, 6, 7]
l2= [10, 20, 30, 40, 50, 60, 70]
l3= [100, 200, 300, 400, 500, 600, 700]

lst = []
for i,j,k in zip(l1,l2,l3):
    lst.extend([i,j,k])
print(lst)

print([m for pair in zip(l1, l2, l3) for m in pair])

[1, 10, 100, 2, 20, 200, 3, 30, 300, 4, 40, 400, 5, 50, 500, 6, 60, 600, 7, 70, 700]
[1, 10, 100, 2, 20, 200, 3, 30, 300, 4, 40, 400, 5, 50, 500, 6, 60, 600, 7, 70, 700]

# 74. remove words from a given list of strings containing a character or string.
Original list:
list1: ['Red color', 'Orange#', 'Green', 'Orange @', 'White']
Character list:
['#', 'color', '@']
output list:
['Red', '', 'Green', 'Orange', 'White']

In [258]:
l = ['Red color', 'Orange #', 'Green', 'Orange @', 'White']
char_ls = ['#', 'color', '@']

ls = []
for i in l:
    for j in i.split():
        if j not in char_ls:
            ls.append(j)
print(ls)

['Red', 'Orange', 'Green', 'Orange', 'White']

# 75. sum of the numbers in a list between the indices of a specified range.
Original list:
[2, 1, 5, 6, 8, 3, 4, 9, 10, 11, 8, 12]
Range: 8 , 10
Sum of the specified range:
29

In [263]:
l = [2, 1, 5, 6, 8, 3, 4, 9, 10, 11, 8, 12]

s = 0
from_ind = 8
to_ind = 10
for i in range(from_ind,to_ind+1,1):
    s=s+l[i]
print(s)

29

# 76. all pairs of integers that differ by three. Return all pairs of integers in a list.

Sample Data:
([0, 3, 4, 7, 9]) -> [[0, 3], [4, 7]]
[0, -3, -5, -7, -8] -> [[-3, 0], [-8, -5]]
([1, 2, 3, 4, 5]) -> [[1, 4], [2, 5]]
([100, 102, 103, 114, 115]) -> [[100, 103]]

In [280]:
def fun(lst):
    ls = []
    for i,x in enumerate(sorted(lst)):
        for y in lst[i+1:]:
            if y == x+3:
                ls.append([x,y])
    return ls
print(fun([0, 3, 4, 7, 9]))
print(fun([0, -3, -5, -7, -8]))
print(fun([1, 2, 3, 4, 5]))
print(fun([100, 102, 103, 114, 115]))

[[0, 3], [4, 7]]
[[-8, -5]]
[[1, 4], [2, 5]]
[[100, 103]]

# 77. sum the missing numbers in a given list of integers

In [284]:
def fun(lst):
    min_value = min(lst)
    max_value = max(lst)
    
    Total = sum(range(min_value, max_value + 1))
    list_sum = sum(lst)
    
    misnum_sum = Total - list_sum
    print(misnum_sum)

fun([0, 3, 4, 7, 9])
fun([44, 45, 48])
fun([-7, -5, -4, 0])

22
93
-12

# 78. largest and smallest gap in a list of values

In [287]:
def test(nums):
    nums.sort()
    max_gap = max(b-a for a, b in zip(nums, nums[1:]))
    min_gap = min(b-a for a, b in zip(nums, nums[1:]))
    return max_gap, min_gap
print(test([0, 9, 2, 4, 5, 6]))
print(test([23, -2, 45, 38, 12, 4, 6]))

(3, 1)
(15, 2)

# 79. smallest & largest odd or even numbers in list

In [295]:
def test(nums):
    max_odd = max(list(filter(lambda x: x%2!=0,nums)))
    min_odd = min(list(filter(lambda x: x%2!=0,nums)))
    return max_odd, min_odd
print(test([0, 9, 2, 4, 5, 6]))
print(test([23, -2, 45, 38, 12, 4, 6, 3]))

(9, 5)
(45, 3)

In [297]:
def test(nums):
    max_even = max(list(filter(lambda x: x%2==0,nums)))
    min_even = min(list(filter(lambda x: x%2==0,nums)))
    return max_even, min_even
print(test([0, 9, 2, 4, 5, 6]))
print(test([23, -2, 45, 38, 12, 4, 6, 3]))

(6, 0)
(38, -2)

# 80. remove values in the lists from directions

In [311]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def delete_list(lst, n, direction):
    if direction == 'left':
        delete = lst[n:]
    elif direction == 'right':
        delete = lst[:-n]
    else:
        raise ValueError("Invalid direction. Use 'left' or 'right'.")
    return delete

print(delete_list(l, 4, 'left'))
print(delete_list(l, 3, 'left'))
print(delete_list(l, 4, 'right'))
print(delete_list(l, 3, 'right'))

[5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

# 81. cumulative or add beside or adjacent numbers in list

In [329]:
l = [1, 2, 3, 4, 5]

ls = []
c = 0
for i in range(0,len(l)):
    c = c+l[i]
    ls.append(c)
print(ls)

[1, 3, 6, 10, 15]

In [330]:
from itertools import accumulate

l = [1, 2, 3, 4, 5]
print(list(accumulate(l)))

[1, 3, 6, 10, 15]

# 82. check the type

In [335]:
def cast(val):
    return list(val) if isinstance(val, (tuple, list, set, dict)) else None

print(cast([1]))
print(cast(('Red', 'Green')))
print(cast(1))

[1]
['Red', 'Green']
None

# 83. convert a given number (integer) to a list of digits.

In [344]:
print( list(map(int,str(123))))

print([int(i) for i in str(123)])

[1, 2, 3]

[1, 2, 3]

# 84. create two groups given list

In [346]:
color_list = ['red', 'green', 'black', 'white', 'blue']

group1 = [c for c in color_list if len(c) > 4]
group2 = [c for c in color_list if len(c) <= 4]
groups = [group1, group2]
print(groups)

[['green', 'black', 'white'], ['red', 'blue']]

In [349]:
color_list = ['red', 'green', 'black', 'white', 'blue']

group1 = [c for c in color_list if c[0] == 'b']
group2 = [c for c in color_list if c[0]!='b']
groups = [group1, group2]
print(groups)

[['black', 'blue'], ['red', 'green', 'white']]

# 85. sort a given positive number in descending/ascending order

In [357]:
def num(n, order):
    if order == 'asc':
        return int(''.join(sorted(str(n))))
    elif order == 'desc':
        return int(''.join(sorted(str(n), reverse = True))) 
    else:
        raise ValueError("Invalid order. Use 'asc' or 'desc'.")

print(num(134543,'asc'))
print(num(43750973,'asc'))
print(num(134543,'desc'))
print(num(43750973,'desc'))

133445
3345779
544331
97754330

In [365]:
# sum of two lowest negative numbers in a given array of integers
n = [-4, 5, -2, 0, 3, -1, 4 , 9]
s = sorted(n)
print(s)
print(s[0]+s[1])

[-4, -2, -1, 0, 3, 4, 5, 9]
-6

# 86. sum of non-zero values

In [370]:
l = [3, 4, 6, 2, 0, 0, 0, 0, 0, 0, 6, 7, 6, 9, 10, 0, 0, 0, 0, 0, 7, 4, 4, 0, 0, 0, 0, 0, 0, 5, 3, 2, 9, 7, 1, 0, 0, 0]

c=0
ls = []
for i in l:
    if i!=0:
        ls.append(i)
        c=c+i
print(ls)
print(c)

[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1]
95

# 87. remove extra spaces in list elements

In [374]:
l = ['abc  ', '       ', 'sdfds ', '     ',' ','    sdfds ', 'huy']
ls = []
for i in l:
    ls.append("".join(i.split()))
print(ls)

['abc', '', 'sdfds', '', '', 'sdfds', 'huy']

# 88. check if the first digit or character of each element in a list is the same.

In [404]:
l1 = [1234, 122, 1984, 19372, 100]
l2 = [1234, 922, 1984, 19372, 100]

def fun1(lis):
    for x in lis:
        if str(x)[0] != str(lis[0])[0]:
            return False
    return True
print(fun1(l1))
print(fun1(l2))

True
False

In [395]:
print(all(str(x)[0]==str(l[0])[0] for x in l1))
print(all(str(x)[0]==str(l[0])[0] for x in l2))

True
False

# 89. Insert element every nth position in list
[1, 3, 5, 7, 9, 11, 0, 2, 4, 6, 8, 10, 8, 9, 0, 4, 3, 0]
Insert 20 in said list after every 4 th element:
[1, 3, 5, 7, 20, 9, 11, 0, 2, 20, 4, 6, 8, 10, 20, 8, 9, 0, 4, 20, 3, 0]
Original list:
['s', 'd', 'f', 'j', 's', 'a', 'j', 'd', 'f', 'd']
Insert Z in said list after every 3 th element:
['s', 'd', 'f', 'Z', 'j', 's', 'a', 'Z', 'j', 'd', 'f', 'Z', 'd']

In [212]:
def fun(lst,pos,ele):
    ls = []
    for i, val in enumerate(lst):
        ls.append(val)
        if (i + 1) % pos == 0:
            ls.append(ele)
    return ls

l1 = [1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,19,20]
ele1 = '##'
pos1 = 2  
print(fun(l1,pos1,ele1))
l2 = ['s', 'd', 'f', 'j', 's', 'a', 'j', 'd', 'f', 'd']
ele2 = '@@'
pos2 = 3
print(fun(l2,pos2,ele2))

[1, 2, '##', 3, 4, '##', 5, 6, '##', 7, 8, '##', 9, 10, '##', 12, 13, '##', 14, 15, '##', 16, 17, '##', 19, 20, '##']
['s', 'd', 'f', '@@', 'j', 's', 'a', '@@', 'j', 'd', 'f', '@@', 'd']

In [213]:
def fun(lst, pos, ele):
    ls = []
    count = 0
    for val in lst:
        ls.append(val)
        count += 1
        if count % pos == 0:
            ls.append(ele)
    return ls

l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 19, 20]
ele1 = '##'
pos1 = 2
print(fun(l1, pos1, ele1))

[1, 2, '##', 3, 4, '##', 5, 6, '##', 7, 8, '##', 9, 10, '##', 12, 13, '##', 14, 15, '##', 16, 17, '##', 19, 20, '##']

In [215]:
def fun(lst, pos, ele):
    ls = []
    length = len(lst)
    for i in range(0, length, pos):
        ls += lst[i:i+pos]
        if i + pos < length:
            ls.append(ele)
    return ls

l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 19, 20]
ele1 = '##'
pos1 = 2
print(fun(l1, pos1, ele1))

[1, 2, '##', 3, 4, '##', 5, 6, '##', 7, 8, '##', 9, 10, '##', 12, 13, '##', 14, 15, '##', 16, 17, '##', 19, 20]

# 90. find the indices of elements

In [421]:
# find the indices of elements in a given list that are greater than a specified value.

l = [1234, 1522, 1984, 19372, 1000, 2342, 7626]
for i,v in enumerate(l):
    if v > 3000:
        print(i)

3
6

In [422]:
# find the indices of None values
l1 = [1, None, 5, 4, None, 0, None, None]

for i,v in enumerate(l1):
    if v==None:
        print(i)

1
4
6
7

In [5]:
# find the indices of None values without enumerate
l1 = [1, None, 5, 4, None, 0, None, None]

ls = []
for i in range(len(l1)):
    if l1[i] is None:
        ls.append(i)
print(ls)

[1, 4, 6, 7]

In [4]:
# using 
l1 = [1, None, 5, 4, None, 0, None, None]
ls = []

try:
    while True:
        index = l1.index(None)
        ls.append(index)
        l1[index] = object() # Replace the found None with a unique object to avoid finding it again
except ValueError:
    pass

print(ls)

[1, 4, 6, 7]

In [18]:
# find common elements in both lists indices

l1 = [1, 2, 3, 4, 5 ,6]
l2 = [7, 8, 5, 2, 10, 12]

[i for i, el in enumerate(l1) if el in set(l2)]

[1, 4]

# 91. check list of items in url

In [8]:
str1 = "https://www.w3resource.com/python-exercises/list/"
lst = ['.com', '.edu', '.tv'] 

for i in lst:
    if i not in str1:
        print(i,"is not present")
    else:
        print(i,"is present")

.com is present
.edu is not present
.tv is not present

# 92. convert unicode strings into lists

In [9]:
lst = [u'S001', u'S002', u'S003', u'S004']

[str(x) for x in lst]

['S001', 'S002', 'S003', 'S004']

# 93. avg of list of list values

In [20]:
l = [[0, 1, 2], [2, 3, 4], [3, 4, 5, 6], [7, 8, 9, 10, 11], [12, 13, 14]]

ls = []
for i in l:
    avg = sum(i)/len(i)
    ls.append(avg)
print(ls)

[1.0, 3.0, 4.5, 9.0, 13.0]

# 94. move the item into list

In [23]:
# move the item into end of the list
def move_ele(lst, ele):
    if ele in lst:
        lst.remove(ele)
        lst.append(ele)
    return lst

ls = ['red', 'green', 'white', 'black', 'orange']
print(move_ele(ls,'green'))

['red', 'white', 'black', 'orange', 'green']

In [25]:
# move the item into desired position

def move_ele(lst, ele, position):
    if ele in lst:
        lst.remove(ele)
        lst.insert(position, ele)
    return lst

ls = ['red', 'green', 'white', 'black', 'orange']
print(move_ele(ls,'green',0))

['green', 'red', 'white', 'black', 'orange']

# 95. remove all strings from a given list of tuples.

In [51]:
l = [(100, 'Math'), (80, 'Math'), (90, 'Math'), (88, 'Science', 89), (90, 'Science', 92)]

ls = []
for i in l:
    for j in i:
        if str(j).isdigit():
            ls.append(j)
        else:
            pass
print(ls)

[100, 80, 90, 88, 89, 90, 92]

In [133]:
l = [(100, 'Math'), (80, 'Math'), (90, 'Math'), (88, 'Science', 89), (90, 'Science', 92)]

ls = []
for tup in l:
    new_tuple = ()
    for ele in tup:
        if not isinstance(ele, str):
            new_tuple += (ele,)
    if len(new_tuple) == 1:
        ls.append(new_tuple[0])
    else:
        ls.append(new_tuple)
print(ls)

[100, 80, 90, (88, 89), (90, 92)]

# 96. convert a given list of tuples to a list of strings.
Original list of tuples:
[('red', 'green'), ('black', 'white'), ('orange', 'pink')]
Convert the said list of tuples to a list of strings:
['red green', 'black white', 'orange pink']
Original list of tuples:
[('Laiba', 'Delacruz'), ('Mali', 'Stacey', 'Drummond'), ('Raja', 'Welch'), ('Saarah', 'Stone')]
Convert the said list of tuples to a list of strings:
['Laiba Delacruz', 'Mali Stacey Drummond', 'Raja Welch', 'Saarah Stone']

In [141]:
l1 = [('red', 'green'), ('black', 'white'), ('orange', 'pink')]
l2 = [('Laiba', 'Delacruz'), ('Mali', 'Stacey', 'Drummond'), ('Raja', 'Welch'), ('Saarah', 'Stone')]

def fun(list1):
    ls = []
    for i in list1:
        ls.append(" ".join(i))
    return ls

print(fun(l1))
print(fun(l2))

['red green', 'black white', 'orange pink']
['Laiba Delacruz', 'Mali Stacey Drummond', 'Raja Welch', 'Saarah Stone']

# 97. convert a given decimal number to a binary list.

In [151]:
def convert_bin(num):
    ls = []
    for i in bin(num)[2:]:
        ls.append(int(i))
    return ls

print(convert_bin(8))
print(convert_bin(16))
print(convert_bin(24))

[1, 0, 0, 0]
[1, 0, 0, 0, 0]
[1, 1, 0, 0, 0]

# 98. join adjacent numbers of a given list.

In [160]:
l = ['1', '2', '3', '4', '5', '6', '7', '8']

ls = []
for i in range(0,len(l)-1,2):
    c = l[i]+l[i+1]
    ls.append(c)
print(ls)

['12', '34', '56', '78']

In [161]:
l1 = ['1','2','3']

lr = []
for i in range(0,len(l1)-1,2):
    c = l[i]+l[i+1]
    lr.append(c)
print(lr)

['12']

In [162]:
l = ['1', '2', '3', '4', '5', '6', '7', '8']

ls = []
for i in range(0,len(l)-1):
    c = l[i]+l[i+1]
    ls.append(c)
print(ls)

['12', '23', '34', '45', '56', '67', '78']

# 99. join adjacent words of a given string list.
generate Bigrams/ Digram of words from a given list of strings

In [158]:
l = ['Sum all the items in a list', 'Find the second smallest number in a list']

bg = []
for t in l:
    words = t.split()  
    for i in range(len(words) - 1):
        bg.append((words[i], words[i + 1])) 
print(bg)

[('Sum', 'all'), ('all', 'the'), ('the', 'items'), ('items', 'in'), ('in', 'a'), ('a', 'list'), ('Find', 'the'), ('the', 'second'), ('second', 'smallest'), ('smallest', 'number'), ('number', 'in'), ('in', 'a'), ('a', 'list')]

In [159]:
# don't want repeated words in tuples
l = ['Sum all the items in a list', 'Find the second smallest number in a list']

bg = []
for t in l:
    words = t.split()  
    for i in range(0,len(words) - 1,2):
        bg.append((words[i], words[i + 1])) 
print(bg)

[('Sum', 'all'), ('the', 'items'), ('in', 'a'), ('Find', 'the'), ('second', 'smallest'), ('number', 'in'), ('a', 'list')]

# 100. add element to each element in list

In [235]:
l = [3, 8, 9, 4, 5, 0, 5, 0, 3]

ls = []
for i in l:
    ls.append(i+3)
print(ls)

[i+3 for i in l]

[6, 11, 12, 7, 8, 3, 8, 3, 6]

[6, 11, 12, 7, 8, 3, 8, 3, 6]

In [234]:
l1 =[3.2, 8, 9.9, 4.2, 5, 0.1, 5, 3.11, 0]

ls = []
for i in l1:
    ls.append(i+0.51)
print(ls)

[3.71, 8.51, 10.41, 4.71, 5.51, 0.61, 5.51, 3.62, 0.51]

# 101.merge some list items in a given list using the index value.
Original lists:
['a', 'b', 'c', 'd', 'e', 'f', 'g']
Merge items from 2 to 4 in the said List:
['a', 'b', 'cd', 'e', 'f', 'g']
Merge items from 3 to 7 in the said List:
['a', 'b', 'c', 'defg']
Click me to see the sample solution

In [7]:
l = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

def fun(lst,start,end):
    lst[start:end]=[''.join(lst[start:end])]
    return lst
print(fun(l,2,4))

['a', 'b', 'cd', 'e', 'f', 'g']

In [8]:
l = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

def fun(lst,start,end):
    lst[start:end]=[''.join(lst[start:end])]
    return lst
print(fun(l,3,7))

['a', 'b', 'c', 'defg']

# 102. remove the N number of elements from a given list

In [18]:
def remove_first(lst, num):
    result = lst[num:]
    return result 
l = [0,1,2,3,4,5,6,7,8,9]
print(remove_first(l, 5))

[5, 6, 7, 8, 9]

In [27]:
def remove_first(lst, num):
    ls = []
    for i, item in enumerate(lst):
        if i < num:
            continue
        ls.append(item)
    return ls
l = [0,1,2,3,4,5,6,7,8,9]
print(remove_first(l,3))

[3, 4, 5, 6, 7, 8, 9]

In [20]:
def remove_last(lst, num):
    result = lst[:-num] #lst[:len(lst)-num]
    return result 
l = [0,1,2,3,4,5,6,7,8,9]
print(l)
print(remove_last(l, 5))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]

In [36]:
def remove_last(lst, num):
    if num >= len(lst):
        return []
    return lst[:-num]
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(remove_last(l, 4))

[0, 1, 2, 3, 4, 5]

In [23]:
def remove_last(lst, num):
    result = []
    for i in range(len(lst) - num):
        result.append(lst[i])
    return result

l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(remove_last(l, 5))

[0, 1, 2, 3, 4]

In [12]:
# remove 3 to 7 numbers
def remove_bw(lst, start, end):
    result = lst[:start] + lst[end + 1:]
    return result
l = [0,1,2,3,4,5,6,7,8,9]
print(l)
print(remove_bw(l,3,7))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 8, 9]

In [21]:
def remove_bw(lst, start, end):
    ls = []
    for index, item in enumerate(lst):
        if start <= index <= end:
            continue  # Skip elements between start and end
        ls.append(item)
    return ls
l = [0,1,2,3,4,5,6,7,8,9]
print(l)
print(remove_bw(l,3,7))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 8, 9]

# 103. Write a Python program to concatenate element-wise three given lists.
Original lists:
['0', '1', '2', '3', '4']
['red', 'green', 'black', 'blue', 'white']
['100', '200', '300', '400', '500']
Concatenate element-wise three said lists:
['0red100', '1green200', '2black300', '3blue400', '4white500']

In [37]:
l1= ['0', '1', '2', '3', '4']
l2 = ['red', 'green', 'black', 'blue', 'white']
l3 = ['100', '200', '300', '400', '500']
ls = []
for i in range(len(l1)):
    item = l1[i] + l2[i] + l3[i]
    ls.append(item)
print(ls)

['0red100', '1green200', '2black300', '3blue400', '4white500']

In [39]:
[i + j + k for i, j, k in zip(l1, l2, l3)]

['0red100', '1green200', '2black300', '3blue400', '4white500']

# 104. convert a given list of strings and characters to a single list of characters.
1.  Original list:
    ['red', 'white', 'a', 'b', 'black', 'f']
    Convert the said list of strings and characters to a single list of characters:
    ['r', 'e', 'd', 'w', 'h', 'i', 't', 'e', 'a', 'b', 'b', 'l', 'a', 'c', 'k', 'f']
  
2. convert a given list of strings into a list of lists.
    Original list of strings:
    ['Red', 'Maroon', 'Yellow', 'Olive']
    Convert the said list of strings into list of lists:
    [['R', 'e', 'd'], ['M', 'a', 'r', 'o', 'o', 'n'], ['Y', 'e', 'l', 'l', 'o', 'w'], ['O', 'l', 'i', 'v', 'e']]

In [43]:
# 1. words split into char in list
l = ['red', 'white', 'a', 'b', 'black', 'f']

ls = []
for i in l:
    for j in i:
        ls.append(j)
print(ls)

['r', 'e', 'd', 'w', 'h', 'i', 't', 'e', 'a', 'b', 'b', 'l', 'a', 'c', 'k', 'f']

In [57]:
# 2. words split in char in list of list
l = ['Red', 'Maroon', 'Yellow', 'Olive']

lrt = []
for s in l:
    ls = []
    for c in s:
        ls.append(c)
    lrt.append(ls)
print(lrt)

[['R', 'e', 'd'], ['M', 'a', 'r', 'o', 'o', 'n'], ['Y', 'e', 'l', 'l', 'o', 'w'], ['O', 'l', 'i', 'v', 'e']]

In [56]:
[[j for j in i] for i in l]

[['R', 'e', 'd'],
 ['M', 'a', 'r', 'o', 'o', 'n'],
 ['Y', 'e', 'l', 'l', 'o', 'w'],
 ['O', 'l', 'i', 'v', 'e']]

# 105. get the index of the first element that is greater than a specified element.
Original list:
[12, 45, 23, 67, 78, 90, 100, 76, 38, 62, 73, 29, 83]
Index of the first element which is greater than 73 in the said list:
4
Index of the first element which is greater than 21 in the said list:
1
Index of the first element which is greater than 80 in the said list:
5
Index of the first element which is greater than 55 in the said list:
3

In [62]:
def find_first_greater_element_index(lst, value):
    for index, element in enumerate(lst):
        if element > value:
            return index
    return None

l = [12, 45, 23, 67, 78, 90, 100, 76, 38, 62, 73, 29, 83]
print(find_first_greater_element_index(l,73))
print(find_first_greater_element_index(l,21))
print(find_first_greater_element_index(l,80))
print(find_first_greater_element_index(l,55))

4
1
5
3

# 106. find the first, second, third and last occurrence of a item in a list

In [64]:
def first_occurrence(lst, ch):
    return ''.join(lst).index(ch)

chars = ['s','d','f','s','d','f','s','f','k','o','p','i','w','e','k','c']
print(first_occurrence(chars,'f'))
print(first_occurrence(chars,'c'))
print(first_occurrence(chars,'k'))
print(first_occurrence(chars,'w'))

2
15
8
12

In [77]:
def second_occurrence(lst, ch):
    try:
        first_index = lst.index(ch)
        return lst.index(ch, first_index + 1)
    except ValueError:
        return "2nd Occurance Not Found"

chars = ['s','d','f','s','d','f','s','f','k','o','p','i','w','e','k','c']
print(second_occurrence(chars, 'f'))  
print(second_occurrence(chars, 'c'))  
print(second_occurrence(chars, 'k'))  
print(second_occurrence(chars, 'w'))

5
2nd Occurance Not Found
14
2nd Occurance Not Found

In [63]:
def last_occurrence(lst, ch):
    return ''.join(lst).rindex(ch)

chars = ['s','d','f','s','d','f','s','f','k','o','p','i','w','e','k','c']
print(last_occurrence(chars,'f'))
print(last_occurrence(chars,'c'))
print(last_occurrence(chars,'k'))
print(last_occurrence(chars,'w'))

7
15
14
12

In [89]:
def nth_occurrence(lst, ch, n):
    indices = [i for i, x in enumerate(lst) if x == ch]
    if n <= len(indices):
        return indices[n-1]
    else:
        return "Not Found"  

chars = ['s','d','f','s','d','f','s','f','k','o','p','i','w','e','k','c']
print(nth_occurrence(chars, 'f', 3))  
print(nth_occurrence(chars, 'c', 3))  
print(nth_occurrence(chars, 'k', 3))

7
Not Found
Not Found

# 107.  append the same value/a list multiple times to a list/list-of-lists.
Add a value(7), 5 times, to a list:
['7', '7', '7', '7', '7']
Add 5, 6 times, to a list:
[1, 2, 3, 4, 5, 5, 5, 5, 5, 5]
Add a list, 4 times, to a list of lists:
[[1, 2, 5], [1, 2, 5], [1, 2, 5], [1, 2, 5]]
Add a list, 3 times, to a list of lists:
[[5, 6, 7], [1, 2, 5], [1, 2, 5], [1, 2, 5], [1, 2, 5]]

In [95]:
# Add a value(7), 5 times, to a list:
ls = []
ls = ls + 5*['7']
print(ls)

l = []
num = 5*['7']
l.append(num)
print(l)

l = []
num = 5*['7']
l.extend(num)
print(l)

['7', '7', '7', '7', '7']
[['7', '7', '7', '7', '7']]
['7', '7', '7', '7', '7']

In [97]:
# Add 5, 6 times, to a list:
l = [1,2,3,4]
num = 6*[5]
l.extend(num)
print(l)

l = [1,2,3,4]
l = l + 6*[5]
print(l)

[1, 2, 3, 4, 5, 5, 5, 5, 5, 5]
[1, 2, 3, 4, 5, 5, 5, 5, 5, 5]

In [105]:
# Add a list, 4 times, to a list of lists:
l = []
num = 4*[[1,2,5]]
l.extend(num)
print(l)

l1 = []
l1 += 4 * [[1,2,5]]
print(l1)

l = []
num = 4*[1,2,5]
l.extend(num)
print(l)

nums1 = [[5,6,7]]
nums1 += 4 * [[1,2,5]]
print(nums1)

[[1, 2, 5], [1, 2, 5], [1, 2, 5], [1, 2, 5]]
[[1, 2, 5], [1, 2, 5], [1, 2, 5], [1, 2, 5]]
[1, 2, 5, 1, 2, 5, 1, 2, 5, 1, 2, 5]
[[5, 6, 7], [1, 2, 5], [1, 2, 5], [1, 2, 5], [1, 2, 5]]

# 107.  join two given list of lists of the same length, element wise.
Original lists:
[[10, 20], [30, 40], [50, 60], [30, 20, 80]]
[[61], [12, 14, 15], [12, 13, 19, 20], [12]]
Join the said two lists element wise:
[[10, 20, 61], [30, 40, 12, 14, 15], [50, 60, 12, 13, 19, 20], [30, 20, 80, 12]]
Original lists:
[['a', 'b'], ['b', 'c', 'd'], ['e', 'f']]
[['p', 'q'], ['p', 's', 't'], ['u', 'v', 'w']]
Join the said two lists element wise:
[['a', 'b', 'p', 'q'], ['b', 'c', 'd', 'p', 's', 't'], ['e', 'f', 'u', 'v', 'w']]

In [106]:
l1 = [[10, 20], [30, 40], [50, 60], [30, 20, 80]]
l2 = [[61], [12, 14, 15], [12, 13, 19, 20], [12]]

[x + y for x, y in zip(l1, l2)]

[[10, 20, 61],
 [30, 40, 12, 14, 15],
 [50, 60, 12, 13, 19, 20],
 [30, 20, 80, 12]]

In [107]:
l1 = [['a', 'b'], ['b', 'c', 'd'], ['e', 'f']]
l2 = [['p', 'q'], ['p', 's', 't'], ['u', 'v', 'w']]

[x + y for x, y in zip(l1, l2)]

[['a', 'b', 'p', 'q'],
 ['b', 'c', 'd', 'p', 's', 't'],
 ['e', 'f', 'u', 'v', 'w']]

# 108. combine two sorted lists using the heapq module.

In [108]:
from heapq import merge

nums1 = [1, 3, 5, 7, 9, 11]
nums2 = [0, 2, 4, 6, 8, 10]

print(list(merge(nums1, nums2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

# 109. combine two lists into another list randomly.

In [110]:
import random

list1 = [1, 2, 7, 8, 3, 7]
list2 = [4, 3, 8, 9, 4, 3, 8, 9]

combined_list = list1 + list2
random.shuffle(combined_list)

print("Interleave two given lists into another list randomly:")
print(combined_list)

Interleave two given lists into another list randomly:
[2, 7, 9, 9, 4, 1, 4, 8, 7, 3, 3, 8, 3, 8]

# 110. mixed list of integers and strings.Numbers must be sorted before strings.
Original list:
[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
Sort the said mixed list of integers and strings:
[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [119]:
l = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

numbers = [x for x in l if isinstance(x, int)]
strings = [x for x in l if isinstance(x, str)]
numbers.sort()
strings.sort()
sorted_mixed_list = numbers + strings
print(sorted_mixed_list)

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [120]:
l = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

numbers = sorted([x for x in l if isinstance(x, int)])
strings = sorted([x for x in l if isinstance(x, str)])
print(numbers+strings)

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [122]:
l = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

numbers = sorted([x for x in l if type(x) is int])
strings = sorted([x for x in l if type(x) is str])
print(numbers+strings)

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

# 111. reverse a list in a specific part

In [123]:
def reverse_list_at_location(lst, location):
    if location < 0 or location >= len(lst):
        return "Invalid location"
    
    part1 = lst[:location]
    part2 = lst[location:]
    part1.reverse()
    reversed_list = part1 + part2    
    return reversed_list

original_list = [1, 2, 3, 4, 5, 6, 7]
reversed_result = reverse_list_at_location(original_list, 3)
print(reversed_result)

[3, 2, 1, 4, 5, 6, 7]