# 1. Tuple Create

In [65]:
#Create an empty tuple 
x = ()
print(x)

#Create an empty tuple with tuple() function built-in Python
tuplex = tuple()
print(tuplex)

tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

print("length of tuple:",len(tuplex))

()
()
('tuple', False, 3.2, 1)
length of tuple: 4

# 2. create a tuple of numbers and single value

In [6]:
#Create a tuple with numbers
tuplex = 5, 10, 15, 20, 25
print(tuplex)

#Create a tuple of one item
tuplex = 5,
print(tuplex)

(5, 10, 15, 20, 25)
(5,)

# 3. packing & unpacking in tuples
1. Packing:   process of combining multiple values or elements into a single tuple
2. unpacking: extract the individual values or elements from a tuple and assign them to separate variables
              Unpacking Error: variables must be equal to the number of items of the tuple

In [11]:
# packing
packed_tuple = (1, 'apple', 3.14)
print(packed_tuple)

# unpacking
my_tuple = (1, 'apple', 3.14)
a, b, c = my_tuple
print(a,b,c)

(1, 'apple', 3.14)
1 apple 3.14

# 4. add an item to a tuple

In [14]:
#create a tuple
tup = (4, 6, 2, 8, 3, 1) 
print(tup)

(4, 6, 2, 8, 3, 1)

In [17]:
#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple

tuplex = tup + (9,)
print(tuplex)

(4, 6, 2, 8, 3, 1, 9)

In [21]:
#adding items in a specific index
tup = (4, 6, 2, 8, 3, 1) 
print(tup)

tuplex = tup[:2] + (15, 20, 25) + tup[2:]
print(tuplex)

(4, 6, 2, 8, 3, 1)
(4, 6, 15, 20, 25, 2, 8, 3, 1)

In [22]:
#converting the tuple to list (type casting)
tup = (4, 6, 2, 8, 3, 1) 
l = list(tup) 

#use different ways to add items in list
l.append(30)
tuplex = tuple(l)
print(tuplex)

(4, 6, 2, 8, 3, 1, 30)

# 5. convert a tuple to a string.

In [23]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(tup)
print(str)

exercises

# 6.  get the value from Tuple

In [24]:
# using Indexing
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print(tuplex)

item = tuplex[3]
print(item)

item1 = tuplex[-4]
print(item1)

('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
e
u

# 7. Access the Tuple
1. Indexing
2. Negative Indexing
3. Slicing
4. Unpacking: accessing elements tuple to individual variables
5. For Loop
6. Built-in Methods

In [37]:
my_tuple = (1, 2, 3, 4, 5)

# indexing & non-indexing & sclicing
print(my_tuple[0])   
print(my_tuple[-1])
print(my_tuple[1:4])

# unpacking
a, b, c, d, e = my_tuple
print(a,b,c,d,e)

for item in my_tuple:
    print("item:",item,end=" ")
print()

print(my_tuple.count(2)) 
print(my_tuple.index(4))

1
5
(2, 3, 4)
1 2 3 4 5
item: 1 item: 2 item: 3 item: 4 item: 5
1
3

# 8. copy of tuple
1. slicing
2. tuple() built-in method
3. copy module

In [44]:
tup = (1, 2, 3, 4, 5)

# slicing
tuple_copy = tup[:]
print(tuple_copy)

# using tuple 
tup = (1, 2, 3, 4, 5)
tuple_copy = tuple(tup)
print(tuple_copy)

# using copy module
import copy
from copy import deepcopy

tup = (1, 2, 3, 4, 5)
t = copy.copy(tup)
print(t)
t1= deepcopy(tup)
print(t1)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

# 9. delete tuple
1. del
2. () -> using empty tuple
3. clear() -> python 3.3 later version available

In [50]:
# del
my_tuple = (1, 2, 3, 4, 5)
del my_tuple

# using ()
my_tuple = (1, 2, 3, 4, 5)
my_tuple = ()

# clear()
my_tuple = (1, 2, 3, 4, 5)
# my_tuple.clear() -> availble after 3.3 version

# 10. tuple contain empty list value and insert value into

In [54]:
tuplex = ("HELLO", 5, [], True) 
print(tuplex)

tuplex[2].append(50) # list has append method
print(tuplex)
# tuplex[1].append(10) -> AttributeError: 'int' object has no attribute 'append'

('HELLO', 5, [], True)
('HELLO', 5, [50], True)

# 11. find repeated / duplicate/ count items in a tuple

In [59]:
tuplex = 2, 4, 5, 6, 2, 3, 4, 4, 7 
print(tuplex)

count = tuplex.count(4)
print("item count:",count)

d = {}
for i in tuplex:
    d[i] = d.get(i,0)+1
print(d)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
item count: 3
{2: 2, 4: 3, 5: 1, 6: 1, 3: 1, 7: 1}

# 12. check element present in tuple or not

In [60]:
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")

print("r" in tuplex)
print(5 in tuplex)

True
False

# 13. remove item in a tuple
1. convert to list -> list.remove(item) 
2. tuple()-> !=
3. slicing

In [64]:
# using list conversion
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
my_list.remove(3)  # Remove a specific value
my_list.pop(2)     # Remove by index
my_tuple = tuple(my_list)
print(my_tuple)

# tuple() method
my_tuple = (1, 2, 3, 4, 5)
my_tuple = tuple(x for x in my_tuple if x != 3)  # Remove value 3
print(my_tuple)

# slicing
my_tuple = (1, 2, 3, 4, 5)
my_tuple = my_tuple[:2] + my_tuple[3:]  # Remove element at index 2 (3)
print(my_tuple)

(1, 2, 5)
(1, 2, 4, 5)
(1, 2, 4, 5)

# 14. convert tuple or type casting 
1. string to tuple -> tuple to string
2. int to tuple -> tuple to int
3. list to tuple -> tuple to list
4. set to tuple -> tuple to set 
5. dict to tuple -> tuple to dict

In [74]:
# int to tuple
tup = (42,)
print(tup)

# tuple to Int
tuplex = (42,)
int_val = tuplex[0]
#int_val = int(tuplex[0])
print(int_val)

(42,)
42

In [68]:
# string to tuple
s = "hi hello"
tup = tuple(s)
print(tup)

# tuple to string
st = "".join(tup)
print(st)

('h', 'i', ' ', 'h', 'e', 'l', 'l', 'o')
hi hello

In [75]:
# List to Tuple
list_value = [1, 2, 3]
tuple_value = tuple(list_value)
print(tuple_value)

# Tuple to List
tuple_value = (1, 2, 3)
list_value = list(tuple_value)
print(list_value)

(1, 2, 3)
[1, 2, 3]

In [76]:
# Set to Tuple
set_value = {1, 2, 3}
tuple_value = tuple(set_value)
print(tuple_value)

# Tuple to Set
tuple_value = (1, 2, 3)
set_value = set(tuple_value)
print(set_value)

(1, 2, 3)
{1, 2, 3}

In [77]:
# Dict to Tuple
dict_value = {'a': 1, 'b': 2, 'c': 3}
tuple_value = tuple(dict_value.items())
print(tuple_value)

# Tuple to Dict
tuple_value = (('a', 1), ('b', 2), ('c', 3))
dict_value = dict(tuple_value)
print(dict_value)

(('a', 1), ('b', 2), ('c', 3))
{'a': 1, 'b': 2, 'c': 3}

In [78]:
# Dict
tuplex = ((2, "w"),(3, "r"))
print(dict((y, x) for x, y in tuplex))

{'w': 2, 'r': 3}

# 15. unzip a list of tuples into individual lists

In [79]:
#create a tuple
l = [(1,2), (3,4), (8,9)]
print(list(zip(*l)))

[(1, 3, 8), (2, 4, 9)]

# 16. reverse tuple

In [81]:
my_tuple = (1, 2, 3, 4, 5)
rev_tup = my_tuple[::-1]
print(rev_tup)

x = ("w3resource")
y = reversed(x)
print(tuple(y))

n = (5, 10, 15, 20)
print(tuple(reversed(n)))

(5, 4, 3, 2, 1)
('e', 'c', 'r', 'u', 'o', 's', 'e', 'r', '3', 'w')
(20, 15, 10, 5)

# 17.convert a list of tuples into a dictionary

In [85]:
l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
d = {}
for a, b in l:
    d.setdefault(a, []).append(b)
print (d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [91]:
l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

d = {}
for k,v in l:
    if k in d:
        d[k].append(v)
    else:
        d[k] = [v]
print(d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [88]:
l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

d = {}
for k, v in l:
    d[k] = d.get(k, []) + [v]
print(d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

# 18. replace the last value of tuples in a list

In [92]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

# 19. remove an empty tuple(s) from a list of tuples

In [93]:
L = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
L = [t for t in L if t]
print(L)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

# 20. sort a tuple by its float element

In [94]:
price = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

print( sorted(price, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

# 21. count the elements tuples of values in a list

In [102]:
t = [10, 20, 30, (50, 60), 40, (50, 60)]

c = 0
for item in t:
    if isinstance(item, tuple):
        for val in item:
            c += val
print("Total sum of values inside tuples:", c)

Total sum of values inside tuples: 220

In [99]:
t = [10,20,30,(50,60),40]

c = 0
for item in t:
    if isinstance(item, tuple):
        c += sum(item)
print("Total sum of values inside tuples:", c)

Total sum of values inside tuples: 110

# 22. count the elements in a list until an element is a tuple

In [110]:
num = [10,20,30,(10,20),40]
ctr = 0
for n in num:
    if isinstance(n, tuple):
        break
    ctr += 1
print(ctr)

3

# 23. Total sum of  without inside tuple values

In [115]:
t = [10, 20, 30, (50, 60), 40, (50, 60)]

c = 0
for item in t:
    if isinstance(item, int):
        c += item
print("Total sum of values exclude tuple values:", c)

Total sum of values exclude tuple values: 100

# 24. convert a given tuple of positive integers into an integer.
Original tuple:
(1, 2, 3)
Convert the said tuple of positive integers into an integer:
123
Original tuple:
(10, 20, 40, 5, 70)
Convert the said tuple of positive integers into an integer:
102040570

In [150]:
t1 = (1, 2, 3)
t2 = (10, 20, 40, 5, 70)

for i in t1:
    print(i,end="")
print()
for j in t2:
    print(j,end="")

123
102040570

# 25. compute the element-wise sum of given tuples.
Original lists:
(1, 2, 3, 4)
(3, 5, 2, 1)
(2, 2, 3, 1)
Element-wise sum of the said tuples:
(6, 9, 8, 6)

In [151]:
x = (1,2,3,4)
y = (3,5,2,1)
z = (2,2,3,1)

result = tuple(map(sum, zip(x, y, z)))
print(result)

(6, 9, 8, 6)

# 26. compute the sum of all elements inside a list of tuples.
Original list of tuples:
[(1, 2), (2, 3), (3, 4)]
Sum of all the elements of each tuple stored inside the said list of tuples:
[3, 5, 7]
Original list of tuples:
[(1, 2, 6), (2, 3, -6), (3, 4), (2, 2, 2, 2)]
Sum of all the elements of each tuple stored inside the said list of tuples:
[9, -1, 7, 8]

In [152]:
l = [(1, 2), (2, 3), (3, 4)]

[sum(i) for i in l]

[3, 5, 7]

In [156]:
l = [(1, 2), (2, 3), (3, 4)]

list(map(sum, l))

[3, 5, 7]

In [155]:
l1 = [(1, 2, 6), (2, 3, -6), (3, 4), (2, 2, 2, 2)]

c = 0
ls = []
for i in l1:
    for j in i:
        c=c+j
    ls.append(c)
print(ls)

[9, 8, 15, 23]

# 27. program to convert a given list of tuples to a list of lists.
Original list of tuples: [(1, 2), (2, 3), (3, 4)]
Convert the said list of tuples to a list of lists: [[1, 2], [2, 3], [3, 4]]
Original list of tuples: [(1, 2), (2, 3, 5), (3, 4), (2, 3, 4, 2)]
Convert the said list of tuples to a list of lists: [[1, 2], [2, 3, 5], [3, 4], [2, 3, 4, 2]]

In [159]:
l = [(1, 2), (2, 3), (3, 4)]

ls = []
for i in l:
    ls.append(list(i))
print(ls)

[[1, 2], [2, 3], [3, 4]]

In [160]:
l1 = [(1, 2), (2, 3, 5), (3, 4), (2, 3, 4, 2)]

ls = []
for i in l1:
    ls.append(list(i))
print(ls)

[[1, 2], [2, 3, 5], [3, 4], [2, 3, 4, 2]]