# map, filter, lambda, reduce

•	map applies a function to every item in an iterable.
     -> map(function, iterable, ...)  => optional: one or more iterables -> returns map object -> map objects by using list, tuple 

•	filter selects items from an iterable based on a condition.
     -> filter(function, iterable(s))
     
•	lambda creates anonymous (unnamed) functions for simple operations.
     -> lambda arguments : expression
     
•	reduce cumulatively applies a function to reduce an iterable to a single value.
     -> reduce(function, sequence[, initial])
     
A generator object is an instance of a generator, which is an iterator.
generator_expression = (x for x in iterable if condition)
generator_object     = filter(function, iterable)-> calling with next()
Ex: yield(), iter(), map(), filter(), zip()

# 01. lambda, map, filter, reduce example

In [46]:
num = [1,2,3,4,5,6,7,8,9,10]

# lambda 
l = lambda x: x+x
print("lambda:",l(5))

# map
m = list(map(lambda x: x+x, num))
print("map:",m)

# filter
f = list(filter(lambda x: x%2==0, num))
print("filter:",f)

# reduce
from functools import reduce

r = reduce(lambda x, y: x + y, num)
print("reduce:",r)

lambda: 10
map: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
filter: [2, 4, 6, 8, 10]
reduce: 55

# 02. maps:  function

In [3]:
def square(x):
    return x * x

numbers = [1, 2, 3, 4, 5]
num = map(square, numbers)
res = list(num)
print(res)

[1, 4, 9, 16, 25]

In [4]:
# You can also use lambda functions with map() for simple operations without explicitly defining a separate function:
numbers = [1, 2, 3, 4, 5]

num = list(map(lambda x: x * x, numbers)) 
num

[1, 4, 9, 16, 25]

# 03. adds numbers

In [6]:
def adds(x):
    return x+x

numbers = [1, 2, 3, 4, 5]
num = map(adds, numbers)
res = list(num)
print(res)

print(list(map(lambda x: x+x, numbers)))

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

# 04. sort list of result

In [13]:
l = [('English', 88), ('Science', 90), ('Maths', 97), ('Social', 82)]

l.sort(key = lambda x: x[1])
l

[('Social', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [23]:
ls = [{'make':'Nokia', 'model':216, 'color':'Black'}, {'make':'Mi Max', 'model':'2', 'color':'Gold'}, {'make':'Samsung', 'model': 7, 'color':'Blue'}]

sorted(ls, key = lambda x: x['color'])

[{'make': 'Nokia', 'model': 216, 'color': 'Black'},
 {'make': 'Samsung', 'model': 7, 'color': 'Blue'},
 {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

# 05. list of intergers even or odd values

In [47]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(list(filter(lambda x: x%2==0,l)))
print(list(filter(lambda x: x%2!=0,l)))

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

# 06. square, cube of each value

In [48]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

s = list(map(lambda x:x*x,l))
print("Square:",s)

Q = list(map(lambda x:x*x*x,l))
print("Qube:",Q)

Square: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Qube: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# 07. given string starts with a given character using Lambda

In [51]:
starts_with = lambda x: True if x.startswith('P') else False # ternary operation
print(starts_with('Python'))
starts_with = lambda x: True if x.endswith('p') else False
print(starts_with('Java'))

True
False

# 08. intersection of two given arrays using Lambda

In [54]:
l1 = [1, 2, 3, 5, 7, 8, 9, 10]
l2 = [1, 2, 4, 8, 9]

result = list(filter(lambda x: x in l1, l2)) 
print (result)

[1, 2, 8, 9]

# 09. Positive and negetive values in list

In [59]:
array_nums = [-1, 2, -3, 5, 7, 8, 9, -10]

result = sorted(array_nums, key=lambda x: (x >= 0, x))
print(result)

[-10, -3, -1, 2, 5, 7, 8, 9]

In [61]:
array_nums = [-1, 2, -3, 5, 7, 8, 9, -10]

rearranged_nums = sorted(array_nums, key=lambda x: (x < 0, x))
print(rearranged_nums)

[2, 5, 7, 8, 9, -10, -3, -1]

In [112]:
# sum of positive values or negative values
nums = [2, 4, -6, -9, 11, -12, 14, -5, 17]

neg_nums = list(filter(lambda x:x<0,nums))
pos_nums = list(filter(lambda x:x>0,nums))

print("Sum of the positive numbers: ",sum(neg_nums))
print("Sum of the negative numbers: ",sum(pos_nums))

Sum of the positive numbers:  -32
Sum of the negative numbers:  48

## 10. count the even and odd number using Lambda

In [69]:
array_nums = [1, 2, 3, 5, 7, 8, 9, 10]

even_count = len(list(filter(lambda x: x % 2 == 0, array_nums)))
odd_count = len(list(filter(lambda x: x % 2 != 0, array_nums)))

print("Even count:", even_count)
print("Odd count:", odd_count)

Even count: 3
Odd count: 5

# 11. length of list is equal to 6

In [72]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

filtered_weekdays = list(filter(lambda day: len(day) == 6, weekdays))
print(filtered_weekdays)

['Monday', 'Friday', 'Sunday']

In [71]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
days = filter(lambda day: day if len(day)==6 else '', weekdays)
for d in days:
    print(d)

Monday
Friday
Sunday

# 12. adding two lists of values

In [73]:
nums1 = [1, 2, 3]
nums2 = [4, 5, 6]

result = list(map(lambda x, y: x + y, nums1, nums2))
print(result)

[5, 7, 9]

# 13. Division by particular value in list

In [75]:
nums = [19, 65, 57, 39, 152, 639, 121, 44, 90, 190]

n = list(filter(lambda x: x%19==0 or x%13==0,nums))
print(n)

[19, 65, 57, 39, 152, 190]

# 14. list of palindrome or string reverse

In [77]:
texts = ["php", "w3r", "Python", "abcd", "Java", "aaa"]

print(list(filter(lambda x:x==x[::-1], texts)))

['php', 'aaa']

In [78]:
texts = ["php", "w3r", "Python", "abcd", "Java", "aaa"]

print(list(filter(lambda x:x=="".join(reversed(x)), texts)))

['php', 'aaa']

In [165]:
s = ["Red", "Green", "Blue", "White", "Black"]

print(list(map(lambda x:x[::-1],s)))
list(map(lambda x:"".join(reversed(x)),s))

['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

# 15. find anagrams

In [84]:
from collections import Counter  

texts = ["bcda", "abce", "cbda", "cbea", "adcb"]

Str = "abcd"
result = list(filter(lambda x: (Counter(Str) == Counter(x)), texts)) 
print(result)

['bcda', 'cbda', 'adcb']

# 16. Find numbers in string

In [85]:
import re

str1 = "sdf 23 safs8 5 sdfsd8 sdfs 56 21sfs 20 5"

extracted_numbers = list(map(lambda x: int(x), re.findall(r'\d+', str1)))
print(extracted_numbers)

[23, 8, 5, 8, 56, 21, 20, 5]

In [90]:
str1 = "sdf 23 safs8 5 sdfsd8 sdfs 56 21sfs 20 5"

num = list(filter(lambda x: x.isdigit(), str1))
print(num)

['2', '3', '8', '5', '8', '5', '6', '2', '1', '2', '0', '5']

# 17. multiply or add list each element by given number

In [94]:
nums = [2, 4, 6, 9 , 11]
n = int(input("Enter Number:"))

num = list(map(lambda number:number*n,nums))
print(' '.join(map(str,num)))

Enter Number:4
8 16 24 36 44

In [93]:
nums = [2, 4, 6, 9 , 11]
n = int(input("Enter Number:"))

num = list(map(lambda number:number+n,nums))
print(' '.join(map(str,num)))

Enter Number:4
6 8 10 13 15

# 18. display the uppercase

In [105]:
# first uppercase char
l = ['sAlly', 'Dylan', 'rEbecca', 'Diana', 'Joanne', 'keith']

n = list(filter(lambda x:x==x.capitalize(),l))
print(n)

['Dylan', 'Diana', 'Joanne']

In [106]:
# second uppercase char
l = ['sAlly', 'Dylan', 'rEbecca', 'Diana', 'Joanne', 'keith']

n = list(filter(lambda x: x[1]==x[1].upper(), l))
print(n)

['sAlly', 'rEbecca']

In [109]:
# complete uppercase words
l = ['SALLY', 'Dylan', 'REBBECA', 'Diana', 'Joanne', 'keith']

n = list(filter(lambda x: x.isupper(), l))
print(n)

['SALLY', 'REBBECA']

In [110]:
# complete lowercase words
l = ['SALLY', 'Dylan', 'REBBECA', 'Diana', 'Joanne', 'keith']

n = list(filter(lambda x: x.islower(), l))
print(n)

['keith']

# 19. sort each sub list

In [115]:
l = [['orange', 'black'], ['white','black'], ['white', 'black', 'orange']]

n = [sorted(x, key = lambda x:x[0]) for x in l]
print(n)

[['black', 'orange'], ['black', 'white'], ['black', 'orange', 'white']]

# 20. sort a given matrix in ascending order

In [116]:
m1 = [[1, 2, 3], [2, 4, 5], [1, 1, 1]]

n = sorted(m1, key=lambda row: sum(row)) 
print(n)

[[1, 1, 1], [1, 2, 3], [2, 4, 5]]

# 21. sorted in dictionary using lambda

In [118]:
students = {'Cierra Vega': (6.2, 70), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}

dict(filter(lambda x: (x[1][0], x[1][1]) > (6.0, 70), students.items()))

{'Cierra Vega': (6.2, 70)}

# 22. remove None values from a given list

In [121]:
l = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

print(list(filter(lambda v: v is not None, l)))

[12, 0, 23, -55, 234, 89, 0, 6, -12]

# 23. maximum and minimum values in a given list of tuples

In [124]:
l = [('V', 62), ('VI', 68), ('VII', 72), ('VIII', 70), ('IX', 74), ('X', 65)]

max1 = max(l,key=lambda x:x[1])[1]
min1 = min(l,key=lambda x:x[1])[1]
print(max1)
print(min1)

74
62

# 24. numbers & strings sort in list

In [129]:
l = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

l.sort(key=lambda x: (isinstance(x, str), x))
print(l)

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

# 25.find the index position and value of the max and min

In [131]:
nums = [12,33,23,10.11,67,89,45,66.7,23,12,11,10.25,54]

max1 = max(enumerate(nums), key=(lambda x: x[1]))
min1 = min(enumerate(nums), key=(lambda x: x[1]))
print(max1)
print(min1)

(5, 89)
(3, 10.11)

# 26. list of tuples values sorted

In [150]:
l = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98)] 

print("Each Tuple First Value:--------->",           list(map(lambda x:(x[0]), l)))
print("Second Tuple:---------->",                    max(l,key=lambda x:x[1]))
print("Sort tuple 1st values:->",        sorted(l, key=lambda x: x[0]))
print("Sort tuple 2st values:->",        sorted(l, key=lambda x: x[1]))
print("Sort tuple 3st values:->",        sorted(l, key=lambda x: x[2]))

Each Tuple First Value:---------> ['Greyson Fulton', 'Brady Kent', 'Wyatt Knott', 'Beau Turnbull']
Second Tuple:----------> ('Greyson Fulton', 98, 99)
Sort tuple 1st values:-> [('Beau Turnbull', 94, 98), ('Brady Kent', 97, 96), ('Greyson Fulton', 98, 99), ('Wyatt Knott', 91, 94)]
Sort tuple 2st values:-> [('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98), ('Brady Kent', 97, 96), ('Greyson Fulton', 98, 99)]
Sort tuple 3st values:-> [('Wyatt Knott', 91, 94), ('Brady Kent', 97, 96), ('Beau Turnbull', 94, 98), ('Greyson Fulton', 98, 99)]

# 27. remove values from list to another list

In [154]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [2,4,6,8]

print(list(filter(lambda x: x not in l2,l1)))

[1, 3, 5, 7, 9, 10]

In [161]:
nums1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
nums2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

[list(filter(lambda x: x in nums1, l)) for l in nums2]

[[12], [7, 11], [1, 5, 8]]

# 28. substring present in string

In [159]:
str1 = ["red", "black", "white", "green", "orange"]

s = input("Enter Sub String:")
list(filter(lambda x: s in x, str1))

Enter Sub String:g

['green', 'orange']

# 29. sum or product of one list

In [167]:
from functools import reduce 
l = [1,2,3,4,5,6,7,8,9,10]

print(reduce(lambda x,y:x*y,l))
print(reduce(lambda x,y:x+y,l))

3628800
55

# 30. sum or product of two lists

In [181]:
l1 = [2, 8, 2, 4, 5]
l2 = [2, 8, 2, 4, 5]

add = lambda x, y: x + y
adding = reduce(add,l1) + reduce(add,l2)
print(adding)

mul = lambda x, y: x * y
multifly = reduce(mul,l1) * reduce(mul,l2)
print(multifly)

42
409600

# 31. cal avg of tuple's of tuple

In [186]:
l = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

tuple(map(lambda x: sum(x)/float(len(x)), l))

(10.0, 43.666666666666664, 66.66666666666667, 2.0)

In [188]:
l = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

averages = [round(sum(t) / len(t)) for t in l]
print(averages)

[10, 44, 67, 2]

In [191]:
l = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

avg = tuple(map(lambda t: round(sum(t)/len(t)), l))
print(avg)

(10, 44, 67, 2)

In [ ]:
l = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

avg = tuple(map(lambda t: round(sum(t)/len(t), 2), l))
print(avg)

# 32. Display only Digits and alphabets

In [205]:
l = (('233', 'ABCD', '33'), ('1416', 'EFGH', '55'), ('2345', 'WERT', '34','AB12'))

[tuple(filter(lambda x:x.isdigit(),i)) for i in l]

[('233', '33'), ('1416', '55'), ('2345', '34')]

In [206]:
l = (('233', 'ABCD', '33'), ('1416', 'EFGH', '55'), ('2345', 'WERT', '34','AB12'))

[tuple(filter(lambda x:x.isalpha(),i)) for i in l]

[('ABCD',), ('EFGH',), ('WERT',)]

In [209]:
l = (('233', 'ABCD', '@#'), ('1416', '#E%*>', '55'), ('2345', 'WERT', 'ABC@123','AB12'))

[tuple(filter(lambda x:x.isalnum(),i)) for i in l]

[('233', 'ABCD'), ('1416', '55'), ('2345', 'WERT', 'AB12')]

# 33. convert list of tuples, list of list

In [213]:
l = [('red', 'pink'), ('white', 'black'), ('orange', 'green')]

list(map(lambda x:" ".join(x),l))

['red pink', 'white black', 'orange green']

In [214]:
l = ["Red", "Green", "Black", "Orange"]

list(map(list,l))

[['R', 'e', 'd'],
 ['G', 'r', 'e', 'e', 'n'],
 ['B', 'l', 'a', 'c', 'k'],
 ['O', 'r', 'a', 'n', 'g', 'e']]

In [215]:
l = ["Red", "Green", "Black", "Orange"]

list(map(tuple,l))

[('R', 'e', 'd'),
 ('G', 'r', 'e', 'e', 'n'),
 ('B', 'l', 'a', 'c', 'k'),
 ('O', 'r', 'a', 'n', 'g', 'e')]

In [225]:
l = ["Red", "Green", "Black", "Orange"]

list(map(set,l))

[{'R', 'd', 'e'},
 {'G', 'e', 'n', 'r'},
 {'B', 'a', 'c', 'k', 'l'},
 {'O', 'a', 'e', 'g', 'n', 'r'}]

In [223]:
l1 = ["Red", "Green", "Black", "Orange"]
l2 = [1, 2, 3, 4]

dict(map(lambda x, y: (x, y), l1, l2))

{'Red': 1, 'Green': 2, 'Black': 3, 'Orange': 4}

In [227]:
nums1 = [1, 2, 3] 
nums2 = [4, 5, 6] 
nums3 = [7, 8, 9]

list(map(lambda x, y, z: x + y + z, nums1, nums2, nums3))

[12, 15, 18]

# 34. power of list values
power = n**n = 3**3= 3x3x3 = 27, 4**4-> 4x4x4x4 = 256

In [231]:
bases_num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index = [1, 2, 3, 4, 5,6,7,8,9,10]

list(map(pow, bases_num, index))

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

# 35. add & sub of two lists

In [241]:
l1 = [6, 5, 3, 9]
l2 = [0, 1, 7, 7]

list(map(lambda x,y:(x + y,x - y), l1, l2))

[(6, 6), (6, 4), (10, -4), (16, 2)]

# 36. upper and lower sets

In [248]:
l = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}

list(map(lambda x: (str(x).upper(),str(x).lower()),l))

[('E', 'e'),
 ('I', 'i'),
 ('U', 'u'),
 ('F', 'f'),
 ('A', 'a'),
 ('O', 'o'),
 ('B', 'b')]

# 37. Dict: convert key of list values into dict

In [257]:
d = {'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}

list(map(dict, zip(*[[(k,v) for v in value] for k, value in d.items()])))

[{'Science': 88, 'Language': 77},
 {'Science': 89, 'Language': 78},
 {'Science': 62, 'Language': 84},
 {'Science': 95, 'Language': 80}]

# 38. Filter:

In [259]:
# Define the filtering function
def is_odd(num):
    return num % 2 != 0

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

odd = list(filter(is_odd, nums))
print(odd)

[1, 3, 5, 7, 9]

In [1]:
l = ["Hello", "w3resource", "Python", "Filter", "Learning"]

list(filter(lambda x:x.isupper(),"".join(l)))

['H', 'P', 'F', 'L']

In [2]:
l = ["Hello", "w3resource", "Python", "Filter", "Learning"]

list(filter(lambda x:x[0].isupper(),l))

['Hello', 'Python', 'Filter', 'Learning']

In [3]:
# find non empty strings 
l = ["", "w3resource", "Filter", "", "Python", ""]

list(filter(lambda x:x!="",l))

['w3resource', 'Filter', 'Python']

In [4]:
# sub string in string
l = ["Red", "Green", "Orange", "White", "Black", "Pink", "Yellow"]

sub = input("Enter sub string: ")
list(filter(lambda x: sub in x,l))

Enter sub string:  reen

['Green']