In [48]:
####################   LIST COMPREHENSIONS  ################
# 1.Numbers
l=[5, 2, 8, 1, 9, 3, 7] 
[i*3 for i in l]

[15, 6, 24, 3, 27, 9, 21]

In [47]:
# 2.Strings
sl= ["hi","hello","how"]
d2=[i.upper() for i in sl]
print("upper case:",d2)
d3=[i.upper()+" hey" for i in sl]
print("upper case + hey", d3)

upper case: ['HI', 'HELLO', 'HOW']
upper case + hey ['HI hey', 'HELLO hey', 'HOW hey']

In [51]:
# 3.functions
def fivetimes(n):
    return n*5
d4=[fivetimes(i) for i in l]
print("functions:",d4)
def fivetimes(n):
    return n*5
d4=[fivetimes(i) for i in l if i>4]
print("functions with if:",d4)

functions: [5, 10, 15, 20, 25]
functions with if: [25]

In [50]:
# 4.List of Dict
d=[{"name":"Nani"},{"name":"Janu"},{"name":"Nikky"}]
print("Dict:",[i["name"] for i in d])
print("Dict + hello:",[i["name"]+" hello" for i in d])

Dict: ['Nani', 'Janu', 'Nikky']
Dict + hello: ['Nani hello', 'Janu hello', 'Nikky hello']

In [56]:
# 5.if --> filter (should be right side of for loop)
l=[1,2,3,4,5]
[i*3 for i in l if i>3]

[12, 15]

In [57]:
# 6. if-else (should be left side of for loop)
l=[1,2,3,4,5]
[i*3 if i==3 else i for i in l]

[1, 2, 9, 4, 5]

In [58]:
# 7. if-else & if --> filter
[i*3 if i==3 else i for i in l if i>2]

[9, 4, 5]

In [131]:
# 8. Lambda with filter
l=[1,2,3,4,5]
print("lambda:",list(map(lambda i:i*5,l)))
print("lambda if-else:",list(map(lambda i:i*5 if i==3 else i,l)))
print("list   if-else:",[i*5 if i==3 else i for i in l]) ## same like above
print("lambda if-else filter:",list(map(lambda i:i*5 if i==3 else i,filter(lambda i:i>2,l))))
print("list if-else filter  :",[i*5 if i==3 else i for i in l if i>2])  ## same like above

lambda: [5, 10, 15, 20, 25]
lambda if-else: [1, 2, 15, 4, 5]
list   if-else: [1, 2, 15, 4, 5]
lambda if-else filter: [15, 4, 5]
list if-else filter  : [15, 4, 5]

In [130]:
# 9. Multiple If's 
l1=[1,2,3]
l2=["a","b","c"]
print(                    [(i,j) for i in l1 if i>1 for j in l2])
print(                    [(i,j) for i in l1 if i>1 if i!=3 for j in l2])
print(                    [(i,j) for i in l1 if i>1 if i!=3 for j in l2 if j!="b"])
print(                    [(i,j) for i in l1 if i>1 if i!=3 for j in l2 if j!="b" and j!="a"])

[(2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]
[(2, 'a'), (2, 'b'), (2, 'c')]
[(2, 'a'), (2, 'c')]
[(2, 'c')]

In [128]:
# 10. List comp vs map

print("map fun num to str  :",           list(map(str,[1,2,3,4,5])))
print("list comp num to str:",           [str(i) for i in [1,2,3,4,5]])
print("list comp filter:",               [str(i) for i in [1,2,3,4,5] if i>3])
print("lambda with filter:",             list(filter(lambda x:x>1,map(int,[1,2,3,4,5]))))
l=[1,2,3,4,5]
def fivetimes(n):
    return n*5
print("list comp functions:",             [fivetimes(i) for i in l])
print("map with functions :",             list(map(fivetimes,l)))

map fun num to str  : ['1', '2', '3', '4', '5']
list comp num to str: ['1', '2', '3', '4', '5']
list comp filter: ['4', '5']
lambda with filter: [2, 3, 4, 5]
list comp functions: [5, 10, 15, 20, 25]
map with functions : [5, 10, 15, 20, 25]

In [127]:
# 11.Filter
l=[1,2,3,4,5]
print("list filter:",           [i for i in l if i>2])
print("lambda filter:",         list(filter(lambda i:i>2,l)))
print("filter true values:",    list(filter(None,[0,1,2,None,False,True])))

list filter: [3, 4, 5]
lambda filter: [3, 4, 5]
filter true values: [1, 2, True]

In [139]:
#12. Reduce
from functools import reduce

print("reduce:",        reduce(lambda x,y:x+y,l))    
print("list sum:",      sum([i for i in l]))

ls = [[1,2],[2,4],[5,6],[7,8]]
print("mul list:",      [i for sublis in ls for i in sublis])
print("mul reduce:",    reduce(lambda x,y:x+y, ls))
print("list max:",      max([i for i in [1,2,3,4,5]]))
print("reduce max:",    reduce(lambda x,y: x if x>y else y,[1,2,3,4,5]))

def addtwo(a,b):
      return a+b
print("reduce functions:", reduce(addtwo,[1,2])) 
print("reduce functions:", reduce(addtwo,[1,2,3,4,5]))

reduce: 15
list sum: 15
mul list: [1, 2, 2, 4, 5, 6, 7, 8]
mul reduce: [1, 2, 2, 4, 5, 6, 7, 8]
list max: 5
reduce max: 5
reduce functions: 3
reduce functions: 15

In [12]:
#2.even numbers in list
l=[1, 2, 3, 4, 5,6,7,8,9,10]
[i for i in l if i%2==0]

[2, 4, 6, 8, 10]

In [19]:
#3. even and odd numbers in 1 to 100
[(i,"even") if i%2==0 else (i,"odd") for i in range(10)]
#["even" if i%2==0 else "odd" for i in range(10)]

[(0, 'even'),
 (1, 'odd'),
 (2, 'even'),
 (3, 'odd'),
 (4, 'even'),
 (5, 'odd'),
 (6, 'even'),
 (7, 'odd'),
 (8, 'even'),
 (9, 'odd')]

In [21]:
#3. add/multiple each each element with 10 in list
l=[1, 2, 3, 4, 5,6,7,8,9,10]
[i+10 for i in l]
[i*10 for i in l]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [22]:
#4. length of each word in list
words = ["apple", "banana", "cherry"]
[len(word) for word in words]

[5, 6, 6]

In [23]:
#5. multi dimension list access the values
l = [[1, 2], [3, 4], [5, 6]]
[i for sublist in l for i in sublist]

[1, 2, 3, 4, 5, 6]

In [25]:
#6. reverse list
l = [1, 2, 3, 4, 5]
[l[i] for i in range(len(l)-1,-1,-1)]  ## 4 to 0

[5, 4, 3, 2, 1]

In [32]:
#7. total count of the list
l = [1, 2, 3, 4, 5]
sum([i for i in l])

15

In [2]:
#8. create empty dict in list
[{} for _ in range(5)]

[{}, {}, {}, {}, {}]

In [5]:
#9. common values 
l1 = [1, 2, 3, 4, 5]
l2 = [4, 5, 6, 7]
l3 = [5, 6, 7, 8, 9]
d = list(set(l1) & set(l2) & set(l3))
print(d)
d1= [v for v in l1 if v in l2]
print(d1)
d1= [v for v in l1 if v in l2 and v in l3]
print(d1)

[5]
[4, 5]
[5]

In [11]:
#10. remove ith element 
n=int(input("Enter Index value:"))
l=[1,1,2,34,4,5,6,33,5,5,3,4]
n1=[i for i in range(len(l)) if n!=i]
print(n1)

Enter Index value: 0

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [19]:
#11. Two list combined
l1 = [1, 2, 3, 4, 5]
l2 = [4, 5, 6, 7]
[x for x in l1+l2]

[1, 2, 3, 4, 5, 4, 5, 6, 7]

In [27]:
#12. lists into sub lists
l = [1, 1, 2, 34, 4, 5, 6, 33, 5, 5, 3, 4]

#spilt sub lists even & odds lists
d = [[x for x in l if x % 2 == 0], [x for x in l if x % 2 != 0]]
print("even & odd values:",d)

#split many sub lists
n=int(input("number of sublists:"))
d1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12]
d2 = [d1[i:i+n] for i in range(0,len(d1),n)]
print(d2)

even & odd values: [[2, 34, 4, 6, 4], [1, 1, 5, 33, 5, 5, 3]]

number of sublists: 3

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [25]:
#13. min value in list
l = [5, 2, 8, 1, 9, 3, 7]

# Find the maximum value using list comprehensions
m = l[0]  # Assume the first element is the maximum
m = [x for x in l if x < m][-1]
print(m)  # Output: 9

3

In [33]:
#14. Square each element
l=[1, 2, 3, 4, 5]
[i ** 2 for i in l]

[1, 4, 9, 16, 25]