# 1 Prime or not
natural number > 1
prime number -> divided by 1 and itself (Ex: 1, 19) -> If only 2 factors, its prime or not

In [1]:
n = int(input("Enter Number:"))
factor = 0
if n > 1:
    for i in range(1,n+1):
        if n%i == 0:
            factor+=1
    if factor == 2:
        print("prime")
    else:
        print("not prime")

Enter Number:19
prime

# 2 Swap numbers

In [2]:
n1 = 10
n2 = 20
n3 = 30
temp = n1
n1 = n2
n2 = n3
n3 = temp
print(n1,n2,n3)

20 30 10

# 3 Factorial Number
Ex: factorial of 5 or 5! = 1*2*3*4*5 =120

In [9]:
fact = 1
num = int(input("Enter Number:"))
if num < 0:
    print("factorial doesn't exist negative numbers")
elif num == 0:
    print("factorial of 0 is 1")
else:
    for i in range(1,num+1):
        fact = fact * i
    print(fact)

Enter Number:6
720

In [10]:
## By using recursive method 

n1 = int(input("Enter Number:"))
def fun(n):
    if (n==0 or n==1):
        return 1
    else:
        return n * fun(n-1)  
                  # 5 * 4 * 3 * 2 * 1
fun(n1)

Enter Number:5

120

In [312]:
## By using in built method
import math
n = int(input("enter the number:"))
result = math.factorial(n)
print(result)

enter the number:5
120

# 04 Fibonacci series
sum of two preceding numbers: 0 1 1 2 3 5 8 13...(0+1 =1, 1+2 =3, 2+3=5, 3+5 =8, 5+8=13)

In [15]:
n = int(input("Enter Value:"))
n1 = 0
n2 = 1
print(n1,n2, end=" ")
for i in range(2,n+1):
    res = n1 + n2
    print(res,end=" ")
    n1 = n2
    n2 = res

Enter Value:10
0 1 1 2 3 5 8 13 21 34 55

# 05 LIST: Sum of Array Elements

In [16]:
l = [1,2,3,4,5]
print(sum(l))

15

In [17]:
l = [1,2,3,4,5]
c = 0
for i in l:
    c = c+i
print(c)

15

In [65]:
l = [1,2,3,4,5]
c = 0
for i in range(0,len(l)):
    c = c + l[i]
print(c)

15

# 05 LIST: Mul of Array Elements

In [28]:
# Traversalmethod
l = [1,2,3,4,5]
c=1
for i in l:
    c = c*i
print(c)

120

In [68]:
import numpy
l = [1,2,3,4,5]
print(numpy.prod(l))
print(numpy.sum(l))

120
15

# 06 LIST: Max Value in Array

In [30]:
l = [10,22,9,13,14,25,7,23]
m = l[0]
n = len(l)
for i in range(1,n):
    if l[i] > m:
        m = l[i]
print(m)

25

# 07 LIST: Min Value in Array

In [31]:
l = [10,22,9,13,14,25,7,23]
m = l[0]
n = len(l)
for i in range(1,n):
    if l[i] < m:
        m = l[i]
print(m)

7

# 08 LIST: Length of Array

In [34]:
l = [10,22,9,13,14,25,7,23]
print(len(l))

val=0
for i in l:
    val=val+1
print(val)

8
8

## 09 LIST: Swap first element & last element in list
input: [1,2,3,4,5]
output: [5,2,3,4,1]

In [36]:
l = [1,2,3,4,5]
size = len(l)

temp = l[0]
l[0] = l[size-1]
l[size-1] = temp

print(l)

[5, 2, 3, 4, 1]

In [1]:
l = [1,2,3,4,5]

l[0],l[-1]=l[-1],l[0]
print(l)

[5, 2, 3, 4, 1]

In [3]:
## tuple Packing & unpacking using
l = [1,2,3,4,5]
pack = (l[-1],l[0])
l[0],l[-1] = pack
print(l)

[5, 2, 3, 4, 1]

In [5]:
## * operand
l = [1,2,3,4,5]
start,*middle,end = l
#print(start)
#print(middle)
#print(end)
l1 = [end,*middle,start]
print(l1)

1
[2, 3, 4]
5
[5, 2, 3, 4, 1]

In [6]:
## using pop
l = [1,2,3,4,5]
first = l.pop(0)
last = l.pop(-1)
l.insert(0,last)
l.append(first)
print(l)

[5, 2, 3, 4, 1]

# 10 LIST: Swap Any elements in list

input: [23,65,45,32,11] -> pos1=1 & pos2=3 
output: [23,32,45,65,11]

In [8]:
l = [23,65,45,32,11]

pos1, pos2 = 1,3
l[pos1],l[pos2]=l[pos2],l[pos1]
print(l)

[23, 32, 45, 65, 11]

In [9]:
## using pop & insert
l = [23,65,45,32,11]
pos1, pos2 = 1,3

first = l.pop(pos1)
last = l.pop(pos2)
l.insert(pos1,last)
l.insert(pos2,first)
print(l)

[23, 11, 45, 65, 32]

In [10]:
## using tuple (pack & unpack)
l = [23,65,45,32,11]
pos1, pos2 = 1,3

get = (l[pos1],l[pos2])
l[pos2],l[pos1] = get
print(l)

[23, 32, 45, 65, 11]

# 11. LIST: Remove nth Occurance of Variable

In [22]:
my_words = ["Hi","Hello","Naresh","AND","Hi","Hello","Nikky"]
w = input("Enter Word:")
c = 0

for key in range(0,len(my_words)-1):
    if(my_words[key] == w):
        c= c+1
    if(c == 2):
        del my_words[key]
print(my_words)

Enter Word:Hello
['Hi', 'Hello', 'Naresh', 'AND', 'Hi', 'Nikky']

# 12 LIST: Search Element in list

In [34]:
l = [1,2,3,4,5,6]
n =int(input("Enter Element:"))
flag = 0
for i in l:
    if n==i:
        print("Found")
        flag = 1
if flag==0:
    print("Not Found")

Enter Element:100
Not Found

In [30]:
## using in 
l = [1,2,3,4,5,6]
n =int(input("Enter Element:"))
if n in l:
    print("Found")
else:
    print("Not Found")

Enter Element:10
Not Found

# 13 LIST: Clear List:
Approaches:
1. clear()
2. Init the list with no value
3. * = 0
4. del()

In [37]:
lis = [1,2,3,4,5]

lis.clear()
lis

[]

In [39]:
lis = [1,2,3,4,5]

lis = []
lis

[]

In [41]:
lis = [1,2,3,4,5]

lis *=0
lis

[]

In [44]:
lis = [1,2,3,4,5]

del lis[:]
lis

[]

# 13 LIST: Reverse a List

In [46]:
lis = [1,2,3,4,5]

lis.reverse()
lis

[5, 4, 3, 2, 1]

In [47]:
lis[::-1]  ## [start:end:step] -> [ : from starting to ending -1 start from reverse ]
lis

[5, 4, 3, 2, 1]

In [48]:
lis = [1,2,3,4,5]
ind = len(lis)-1
l = []
while ind!=-1:
    l.append(lis[ind])
    ind=ind-1
print(l)

[5, 4, 3, 2, 1]

In [52]:
lis = [1,2,3,4,5]
l = []
for i in range(len(lis)-1,-1,-1):
    l.append(lis[i])
print(l)

[5, 4, 3, 2, 1]

# 14 LIST: Clone or Copy a list
1. Slicing
2. extend()
3. list()
4. copy()
5. list comprehension

In [53]:
lis = [1,2,3,4,5]

lis_copy = lis[:]
lis_copy

[1, 2, 3, 4, 5]

In [54]:
lis = [1,2,3,4,5]

lis_copy = []
lis_copy.extend(lis)
lis_copy

[1, 2, 3, 4, 5]

In [55]:
lis = [1,2,3,4,5]

lis_c = list(lis)
lis_c

[1, 2, 3, 4, 5]

In [56]:
lis = [1,2,3,4,5]

lis_c = lis.copy()
lis_c

[1, 2, 3, 4, 5]

In [57]:
lis = [1,2,3,4,5]

lis_copy = [i for i in lis]
lis_copy

[1, 2, 3, 4, 5]

# 15. LIST: Count Occurance of element

In [59]:
lis = [10, 15, 16, 17, 18, 19, 10, 20, 10, 30, 10]
n = int(input("Enter Num:"))
c = 0
for i in lis:
    if n==i:
        c=c+1
print(c)

Enter Num:10
4

In [61]:
lis = [10, 15, 16, 17, 18, 19, 10, 20, 10, 30, 10]
lis.count(10)

4

In [64]:
from collections import Counter

lis = [10, 15, 16, 17, 18, 19, 10, 20, 10, 30, 10]
x = 10
dic = Counter(lis)
print(dic)
print(x,dic[x])

Counter({10: 4, 15: 1, 16: 1, 17: 1, 18: 1, 19: 1, 20: 1, 30: 1})
10 4

# 16. LIST: Find Smallest & largest number in list

In [71]:
lis = [10, 15, 16, 17, 18, 19, 10, 20, 10, 30, 10]

lis.sort()
lis
print(lis[0])
print(lis[-1])

10
30

In [74]:
## min max
lis = [10, 15, 16, 17, 18, 19, 10, 20, 10, 30, 10]

print(max(lis))
print(min(lis))

30
10

In [75]:
l = [10,22,9,13,14,25,7,23]
m = l[0]
n = len(l)
for i in range(1,n):
    if l[i] < m:
        m = l[i]
print(m)

25

In [76]:
l = [10,22,9,13,14,25,7,23]
m = l[0]
n = len(l)
for i in range(1,n):
    if l[i] > m:
        m = l[i]
print(m)

25

# 17. LIST: second largest number

In [79]:
# sort & sclicing 
l = [10,22,9,13,14,25,7,23]

l.sort()
print(l)
print(l[-2])

[7, 9, 10, 13, 14, 22, 23, 25]
23

In [81]:
# set & remove & max
l = [10,22,9,13,14,25,7,23]
lis = set(l)
lis.remove(max(lis))
max(lis)

23

In [92]:
l = [10,22,9,13,14,25,7,23]
l1 = [x for x in l if x!=max(l)]
print(l1)
l2 = [x for x in l1 if x==max(l1)]
print(l2)

[10, 22, 9, 13, 14, 7, 23]
[23]

In [137]:
lis = [10,24,23,25,26]
first_max = second_max = int(-1) or float('-inf')
for num in lis:
    if num > first_max:
        second_max = first_max
        first_max = num
    elif num > second_max and num != first_max:
        second_max = num
print(second_max)

"""
10 > -1:
s = -1
f = 10

24 > 10:
s = 10
f = 24

23 > 24: false
23 > 10: elif
s = 23

25 > 24:
s = 24
f = 25

26 > 25:
s = 25
f = 26

s =25 
"""

25

'\n10 > -1:\ns = -1\nf = 10\n\n24 > 10:\ns = 10\nf = 24\n\n23 > 24: false\n23 > 10: elif\ns = 23\n\n25 > 24:\ns = 24\nf = 25\n\n26 > 25:\ns = 25\nf = 26\n\ns =25 \n'

# 18. Str: Count Char or lengh of string

In [9]:
n = input("Enter String:")
c = 0
for i in n:
    c = c+1
print(c)
print(len(n))

Enter String:hi hello
8
8

# 19. Str: Count Words in string

In [11]:
s = "hi hello how are you my friend"
c = 1
for i in s:
    if i == ' ':
        c = c+1
print(c)

7

In [12]:
s = "hi hello how are you my friend"
c = 0
for i in s.split():
    c = c + 1
print(c)

7

# 20: Str: Count Upper case Letters & display

In [20]:
s = "HI hello HOW are YOU MY friend"
c = 0
for i in s.split():
    if i.isupper():
        c=c+1
print(c)

4

In [21]:
s = "HI hello HOW are YOU MY friend"
w =""
for i in s.split():
    if i.isupper():
        w=w+" "+i
print(w)

 HI HOW YOU MY

# 21: Str: Count Vowels

In [22]:
s = "HI hello HOW are YOU MY friend"
c = 0
v = "AEIOUaeiou"
for i in s:
    if i in v:
        c=c+1
print(c)

10

# 22: Str: String method

In [32]:
import string
print(string.ascii_letters)
print(string.ascii_uppercase)
print(string.ascii_lowercase)
print(string.digits)
print(string.punctuation)
print(string.whitespace)
print(string.capwords)
print(string.printable)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
0123456789
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~


<function capwords at 0x000001C084EED090>
0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [36]:
s = "Hi@Hello#$%MYfriend"
c = 0
for i in s:
    if i in string.punctuation:
        c=c+1
print(c)

4

# 24. Str: Fetching the word starts and ends with consonants

In [42]:
s = "Python is good and Easy Langauage"
v = "AEIOUaeiou" 
w = ""
for i in s.split():
    if i[0] not in v and i[-1] not in v:
        w = w+" "+i
print(w)

 Python good

# 25. Str: Fetching first char of each word

In [49]:
s = "Python is good and Easy Langauage"

for i in s.split():
    print(i[0],end=" ")

n = [i[0] for i in s.split()]
print(n)

P i g a E L ['P', 'i', 'g', 'a', 'E', 'L']

# 26. Str: Asc or Desc Order

In [55]:
s = "Python4"

print("".join(sorted(s)))
print("".join(sorted(s,reverse=True)))

4Phnoty
ytonhP4

# 27. Str: Palindrome or not

In [138]:
s = input("Enter String:")

rev = s[::-1]

if s==rev:
    print("palindrom")
else:
    print("not palindorm")

Enter String:madam
palindrom

In [147]:
s = input("Enter String:")
ind = len(s)-1
ls = []
while ind!=-1:
    ls.append(s[ind])
    ind = ind-1
l = "".join(ls)

if s==l:
    print("palindrom")
else:
    print("not palindorm")

Enter String:madam
palindrom

In [151]:
s = input("Enter String:")
w=""
for i in s:
    w=i+w
if s==w:
    print("palindrom")
else:
    print("not palindorm")

Enter String:demo
not palindorm

In [155]:
s = input("Enter String:")
w=""
for i in s:
    w=i+w

if len(s)==1:
    print(f"'{input_value}' is a single character and {'is' if is_palindrome(input_value) else 'is not'} a palindrome.")
elif s.isdigit==int(w):
    print("Given Number palindrome")
elif s==w:
    print("Given word Pandilome")
else:
    print("Not Palindrome")

Enter String:121
Given word Pandilome

In [179]:
s = input("Enter a character, number, or word: ")
ind = len(s)-1
ls = []
while ind!=-1:
    ls.append(s[ind])
    ind = ind-1
l = "".join(ls)

if len(s) == 1:
    if s is not None:
        print(f"'{s}' char or digit is a palindrome.")
    else:
        print(f"'{s}' char or digit is not a palindrome.")
elif s.isdigit():
    if s==l:
        print(f"'{s}' number is a palindrome.")
    else:
        print(f"'{s}' number is not a palindrome.")
else:
    if s==l:
        print(f"'{s}' word is a palindrome.")
    else:
        print(f"'{s}' word is not a palindrome.")

Enter a character, number, or word: w
'w' char or digit is a palindrome.

# 28 Str: In a string reverse Words 
str = "Hi Hello Naresh GoodMorning"
rev_str = "GoodMorning Naresh Hello Hi"

In [188]:
s = "Hi Hello Naresh GoodMorning"
s = s.split(" ")
print(s)
s = s[-1::-1]
print(s)
s = " ".join(s)
print(s)
print(s[::-1])

['Hi', 'Hello', 'Naresh', 'GoodMorning']
['GoodMorning', 'Naresh', 'Hello', 'Hi']
GoodMorning Naresh Hello Hi
iH olleH hseraN gninroMdooG

In [57]:
s = "Hi Hello Naresh GoodMorning"
" ".join(reversed(s.split()))

'GoodMorning Naresh Hello Hi'

In [197]:
s = "Hi Hello Naresh GoodMorning"
w=""
for i in s.split():
    w=i+" "+w
print(w)

GoodMorning Naresh Hello Hi

# 29 Str: Sub String Presence in String

In [200]:
str = "Hi hello how are you"
sub_str = "hello"
print("Sub string Present at position of ",str.find(sub_str))
print("sub string not present:",str.find("demo"))

#check the string present or not:
if str.find(sub_str)==-1:
    print("Not Present")
else:
    print("Present")

Sub string Present at position of  3
sub string not present: -1
Present

In [201]:
str = "Hi hello how are you"
sub_str = "hello"

if sub_str in str:
    print("Not Present")
else:
    print("Present")

yes

# 30 Str: Find the length of string
1. using for loop
2. using while and slicing
3. built-in len()
4. join and count

In [203]:
# 1. using for loop
s= "Welcome"
c = 0
for i in s:
    c=c+1
print(c)

7

In [205]:
# 2. using while and slicing
s= "Welcome"
c = 0
while s[c:]:  # 0 to 6
    c=c+1
print(c)

7

In [207]:
#3. built-in len()
#4. join and count
s= "Welcome"
print(len(s))
s1 = "x".join(s)
print(s1.count("x"))   # index
print(s1.count("x")+1) # len

7
6

# 31 Str: Find if string contains special chars

In [213]:
import re

s = "Hi@#Hello*(|show&&@-+=the<>?demo!~jvm#$%)"

regex= re.compile('[~!@#$%^&*()_+=<>/\|]')

if (regex.search(s)==None):
    print("No Special Char")
else:
    print("Special Char")

Special Char

# 32 Str: remove special chars in string

In [224]:
# Method1: By using Special regular expressions
import re

s = "Hi@#Hello*(|show&&@-+=the<>?demo!~jvm#$%)"

pattern = r'[^A-Za-z0-9\s]'
reg_s = re.sub(pattern,' ',s)
print(reg_s)
print(' '.join(reg_s.split()))  ## remove the extra spaces

Hi  Hello   show      the   demo  jvm
Hi Hello show the demo jvm

In [249]:
# Method 2: char filling

s = "Hi@#Hello*(|show&&@-+=the<>?demo!~jvm#$%)"
w =""
for i in s:
    if i.isalnum() or i.isspace():
        w = w+i
    elif w: 
        w += ' '
print(" ".join(w.split()))

Hi Hello show the demo jvm

# 33 Str: remove extra space in string

In [228]:
s = "Hi  Hello   show      the   demo  jvm"    
s = s.split()
" ".join(s)

'Hi Hello show the demo jvm'

# 34 Str: check URL's
http://urlregex.com/

In [252]:
import re

s = "Please check my blog https://mytestingtools.com/" 
s1 = re.findall('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',s)
print(s1)

['https://mytestingtools.com/']

In [262]:
s = "Please check my blog https://mytestingtools.com/" 

s2 = re.findall(r'https?://\S+',s)
print(s2)

['https://mytestingtools.com/']

## 35 Str: findout common letters between Two Strings

In [264]:
s1 = "REENA"
s2 = "NAINA"
cm = set(s1)&set(s2)
print(cm)

{'N', 'A'}

In [265]:
# without built-in methods
s1 = "REENA"
s2 = "NAINA"
w = ""
for i in s1:
    for j in s2:
        if i==j and i not in w:
            w = w + i
print(w)

NA

# 36 Str: word frequency in string

In [281]:
s = "hi hello how are you my friend where are you hi hello my friend where is the bike"
d = {}
for i in s.split():
    if i not in d.keys():
        d[i] = 1
    else:
        d[i] =d[i]+1 # d[i]=+1
print(d)

{'hi': 2, 'hello': 2, 'how': 1, 'are': 2, 'you': 2, 'my': 2, 'friend': 2, 'where': 2, 'is': 1, 'the': 1, 'bike': 1}

In [287]:
s = "hi hello how are you my friend where are you hi hello my friend where is the bike"
d = {}
for i in s.split():
    d[i] = d.get(i,0)+1
print(d)

{'hi': 2, 'hello': 2, 'how': 1, 'are': 2, 'you': 2, 'my': 2, 'friend': 2, 'where': 2, 'is': 1, 'the': 1, 'bike': 1}

# 37 convert two lists into dict

In [288]:
# using zip
k = [1,2,3]
v = ["One","Two","Three"]
result = dict(zip(k,v))
print(result)

{1: 'One', 2: 'Two', 3: 'Three'}

In [289]:
# without zip
k = [1,2,3]
v = ["One","Two","Three"]
d = {k[i]: v[i] for i in range(len(k))}
print(d)

{1: 'One', 2: 'Two', 3: 'Three'}

# 38 Dict convert to tuple

In [290]:
d = {1: 'One', 2: 'Two', 3: 'Three'}

for i in d.items():
    print(i)

(1, 'One')
(2, 'Two')
(3, 'Three')

In [291]:
tuple(d.items())

((1, 'One'), (2, 'Two'), (3, 'Three'))

# 39 Find second high num in multi list

In [292]:
lis = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

d ={}
for name,value in lis:
    d[name] = value
print(d) 
d = {k: v for k, v in d.items() if v != min(d.values())}
print(d)
d = {k: v for k, v in d.items() if v == min(d.values())}
print(d)

{'Harry': 37.21, 'Berry': 37.21, 'Tina': 37.2, 'Akriti': 41, 'Harsh': 39}
{'Harry': 37.21, 'Berry': 37.21, 'Akriti': 41, 'Harsh': 39}
{'Harry': 37.21, 'Berry': 37.21}

In [293]:
lis = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

d ={}
for name,value in lis:
    d[name] = value
print(d) 
d = {k: v for k, v in d.items() if v != max(d.values())}
print(d)
d = {k: v for k, v in d.items() if v == max(d.values())}
print(d)

{'Harry': 37.21, 'Berry': 37.21, 'Tina': 37.2, 'Akriti': 41, 'Harsh': 39}
{'Harry': 37.21, 'Berry': 37.21, 'Tina': 37.2, 'Harsh': 39}
{'Harsh': 39}

In [294]:
lis = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

sec_high_value = sorted(set([x[1] for x in lis]))[1]
sec_high_names = [x[0] for x in lis if x[1] == sec_high_value]
for names in sorted(sec_high_names):
    print(names)

Berry
Harry

# 50 Print Numbers in Triangle & *

In [297]:
n = int(input("enter no of rows:"))
for i in range(1,n+1):          # rows
    for j in range(1,i+1):  # columns
        print(j,end=" ")
    print()

enter no of rows:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [304]:
n = int(input("enter no of rows:"))
for i in range(1,n+1):          # rows
    for j in range(1,i+1):  # columns
        print(i,end="")
    print()

enter no of rows:5
1
22
333
4444
55555

In [311]:
# Hollow right triangle shape

n = int(input("enter no of rows:"))
for row in range(n):          # rows
    for col in range(n):   # columns
        if col==0 or row==(n-1) or row==col:
            print("*",end="")
        else:
            print(" ",end="")
    print()

enter no of rows:7
*
**
* *
*  *
*   *
*    *
*******

In [315]:
# floyd triangle: 1 to n num triangle
n = int(input("enter no of rows:"))
num = 1
for row in range(1,n+1):          # rows
    for col in range(1,row+1):   # columns
        print(num,end="")
        num=num+1
    print()

enter no of rows:4
1
23
456
78910

In [318]:
# triagnle with word series 
n = int(input("enter no of rows:"))
s = "python"
for row in range(len(s)):          # rows
    for col in range(row+1):   # columns
        print(s[col],end="")
    print()

enter no of rows:5
p
py
pyt
pyth
pytho
python

In [329]:
# triganle in reverse order
n = int(input("enter no of rows:"))
for row in range(n,0,-1):          # rows
    for col in range(1,row+1):   # columns
        print(col,end="")
    print()

enter no of rows:5
12345
1234
123
12
1

In [330]:
# triagnle same number series
n = int(input("enter no of rows:"))
for row in range(n,0,-1):          # rows
    for col in range(1,row+1):   # columns
        print(row,end="")
    print()

enter no of rows:5
55555
4444
333
22
1

In [4]:
# Pyramid
n = int(input("enter no of rows:"))
for row in range(1,n+1):          # rows (1,5)
    for col in range(1,2*n):      # columns (1,8)
        #if row==4 or row+col==5 or row-col==3:
        if row==n or row+col==n+1 or col-row==n-1:
            print("*",end="")
        else:
            print(end=" ")
    print()

enter no of rows:7
      *
     * *
    *   *
   *     *
  *       *
 *         *
*************

In [6]:
# Pyramid
n = int(input("enter no of rows:"))
k=2
for row in range(1,n+1):         
    for col in range(1,2*n):      
        if row+col==n+1 or col-row==n-1:
            print("*",end="")
        elif row==n and col!=k:
            print("*",end="")
            k=k+2
        else:
            print(end=" ")
    print()

enter no of rows:5
    *
   * *
  *   *
 *     *
* * * * *